<div class="d-none d-md-none book-appt-sticky" id="sticky-button">
  <span class="sticky-book-session py-2 px-4">

    <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link buy-now-button site-nav__label" data-site-id="97924"
      data-mb-site-id="990566" data-type="contract-link" data-inner-html="BECOME A MEMBER" data-service-id="109" />
  </span>
</div>

<script>
  $(window).scroll((e) => {
    const position = $(window).scrollTop()

    if (position > 200) {
      $('#sticky-button').addClass('position-sticky')
      $('#sticky-button').addClass('d-md-block')
      $('#sticky-button').removeClass('d-md-none')
    } else {
      $('#sticky-button').removeClass('position-sticky')
      $('#sticky-button').removeClass('d-md-block')
      $('#sticky-button').addClass('d-md-none')
    }
  })
</script>