<div class="banner_bm">
  <div class="img_bm_section">
  	<img class="bm_banner_image" src="{{ section.settings.bm_banner_image | img_url:'2048x' }}">
    <img class="bm_banner_image_mobile" src="{{ section.settings.bm_banner_image_mobile | img_url:'master' }}">
  </div>
  <div class="bm_banner_text">
    <h2 class="bm_text_head">{{ section.settings.bm_text_head }}</h2>
    <p class="bm_text_content">{{ section.settings.bm_text_content }}</p>
  </div>
</div>
{% schema %}
  {
    "name": "banner_bm_section",
	"class": "banner_section",
    "settings": [
			  {
                  "type":"image_picker",
                  "id": "bm_banner_image",
                  "label":"Add Banner Image"
              },
			  {
                  "type":"image_picker",
                  "id": "bm_banner_image_mobile",
                  "label":"Add Banner Image mobile"
              },
			  {
                  "type":"text",
                  "id": "bm_text_head",
                  "label":"Add header"
              },
			  {
                  "type":"text",
                  "id": "bm_text_content",
                  "label":"Add content"
              }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
