<div class="section brands">
  <div class="container">
      <div class="brands_tamp">
        <div class="brands_bg">
        	<img class="brands_bg_main" src="{{ section.settings.brands_bg | img_url:'master' }}">
          	<img class="brands_bg_main_mobile" src="{{ section.settings.brands_bg_mobile | img_url:'master' }}">
        </div>
        <div class="brands_list">  
          <div class="brand_text">
            <a class="brand_url" href="{{ section.settings.url_logo1 }}">
            	<img class="brand_logo" src="{{ section.settings.brand_logo1 | img_url:'master' }}">
            </a>
            <p class="brand_title">{{ section.settings.brand_title1 }}</p>
          </div>
          <div class="brand_text">
            <a class="brand_url" href="{{ section.settings.url_logo2 }}">
            	<img class="brand_logo" src="{{ section.settings.brand_logo2 | img_url:'master' }}">
            </a>
            <p class="brand_title">{{ section.settings.brand_title2 }}</p>
          </div>
          <div class="brand_text">
            <a class="brand_url" href="{{ section.settings.url_logo3 }}">
            	<img class="brand_logo" src="{{ section.settings.brand_logo3 | img_url:'master' }}">
            </a>
            <p class="brand_title">{{ section.settings.brand_title3 }}</p>
          </div>
          <a class="btn_brand" href="{{ section.settings.btn_brand_url }}">{{ section.settings.btn_brand_text }}</a>
        </div>
      </div>
  </div>
</div>
<style>
img.brands_bg_main_mobile {
    display: none;
}
  @media screen and (max-width: 768px){
    img.brands_bg_main_mobile {
      display: block;
    }
    img.brands_bg_main {
      display: none;
    }
    .brands_tamp {
        display: flex;
        align-items: center;
    }
    .brands_list {
      position: absolute;
      top: 50%;
      left: inherit;
      max-width: 100%;
    }
    p.brand_title {
        padding-top: 10px;
        /* font-size: 17px; */
        font-size: 26px;
        line-height: 1;
        width: 80%;
    }
      a.btn_brand {
      font-size: 25px;
          padding:7px 20px 7px 20px;
  }
  }
</style>
{% schema %}
  {
    "name": "brands_section",	
	"class":"brand_section",
    "settings": [
            {
              "type":"image_picker",
              "id": "brands_bg",
              "label":"Choose Background"
            },
			{
              "type":"image_picker",
              "id": "brands_bg_mobile",
              "label":"Choose Background for Mobile"
            },
			{
              "type":"image_picker",
              "id": "brand_logo1",
              "label":"Choose Image"
            },
			{
              "type":"url",
              "id": "url_logo1",
              "label":"Paste Link Here"
            },
			{
              "type":"text",
              "id": "brand_title1",
              "label":"Heading Brand"
            },
			{
              "type":"image_picker",
              "id": "brand_logo2",
              "label":"Choose Image"
            },
			{
              "type":"url",
              "id": "url_logo2",
              "label":"Paste Link Here"
            },
			{
              "type":"text",
              "id": "brand_title2",
              "label":"Heading Brand"
            },
			{
              "type":"image_picker",
              "id": "brand_logo3",
              "label":"Choose Image"
            },
			{
              "type":"url",
              "id": "url_logo3",
              "label":"Paste Link Here"
            },
			{
              "type":"text",
              "id": "brand_title3",
              "label":"Heading Brand"
            },
			{
              "type":"url",
              "id": "btn_brand_url",
              "label":"Paste Link Here"
            },
			{
              "type":"text",
              "id": "btn_brand_text",
              "label":"Button Text"
            }
			
	],
	"presets": [
      {
        "name": "brands section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
