<div class="section contact_content">
  <div class="contact_last_section">
    <h2 class="contact_head">{{ section.settings.contact_head }}</h2>
    <p class="contact_content">{{ section.settings.contact_content }}</p>
    <a class="btn_contact" href="{{ section.settings.btn_contact_url }}">{{ section.settings.btn_contact }}</a>
  </div>
</div>
{% schema %}
  {
    "name": "contact_us section",
    "settings": [
			  {
                "type":"text",
                "id": "contact_head",
                "label":"Contact Header"
              },
			  {
                "type":"text",
                "id": "contact_content",
                "label":"contact content"
              },
			  {
                "type":"url",
                "id": "btn_contact_url",
                "label":"Paste Link Here"
              },
			  {
                "type":"text",
                "id": "btn_contact",
                "label":"Button"
              }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
