<style>
  @media only screen and (max-width: 799px) {
  .elements_header {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
  }
  .elements-pd-custom {
    padding: 15px 0 !important;
  }
}
</style>

<div class="section">
  <div class="container">
    <div class="row d-block">
      <h2 class="elements_header">{{ section.settings.elements_header }}</h2>
      <p class="elements_txt">{{ section.settings.elements_txt }}</p>
    </div>
  </div>
</div>
<div class="section brands el_con">
  <div class="container">
    <div class="row pd-top elements-pd-custom">
<!--       <div class="mobile_carousel"> -->
      {% for elements in section.blocks %}
      <div class="col-md-4">
        <div class="elements_list">
          <div class="el_imgs">
        	<img class="elements_list_img" src="{{ elements.settings.elements_list_img | img_url:'150x150' }}">
          </div>
          	<p class="elements_list_text">{{ elements.settings.elements_list_text }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
    <a class="btn_elements" href="{{ section.settings.elements_url }}">{{ section.settings.btn_elements }}</a>
</div>
<style>
  img.elements_list_img{
  	height: auto !important;
    width: auto !important;
  }
  .el_imgs {
      min-height: 200px;
  }
  .el_con{
  	padding-top: 0 !important
  }
  h2.elements_header{
  	/* font-size: 44px; */
    line-height: 66px;
  }
  @media screen and (max-width: 768px){
    p.elements_txt {
      padding: 0 10px;
    }
  }
</style>
{% schema %}
  {
    "name": "Elements Section",
    "settings": [
			  {
                "type": "text",
                "id" : "elements_header",
                "label": "Add header"
              },
			  {
                "type": "text",
                "id" : "elements_txt",
                "label": "Add text"
              },
			  {
                "type": "url",
                "id" : "elements_url",
                "label": "Paste Link here"
              },
			  {
                "type": "text",
                "id" : "btn_elements",
                "label": "button"
              }			
	],
	"blocks": [
		{
			"type":"elements_page",
			"name": "elements",
			"settings": [
				{
					"type":"image_picker",
					"id": "elements_list_img",
					"label":"Add Image"
				},
				{
					"type":"text",
					"id": "elements_list_text",
					"label":"Heading"
				}
			]
		}
	],
	"presets": [
      {
        "name": "Elements Section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
