<div class="section end_content">
  <div class="end_last_section">
    <h2 class="end_head">{{ section.settings.end_head }}</h2>
    <p class="end_content">{{ section.settings.end_content }}</p>
    <a class="btn_end" href="{{ section.settings.btn_end_url }}">{{ section.settings.btn_end }}</a>
  </div>
</div>
{% schema %}
  {
    "name": "End last section",
	"class": "last_content",
    "settings": [
              {
                "type":"text",
                "id": "end_head",
                "label":"End Header"
              },
			  {
                "type":"text",
                "id": "end_content",
                "label":"End content"
              },
			  {
                "type":"url",
                "id": "btn_end_url",
                "label":"Paste Link Here"
              },
			  {
                "type":"text",
                "id": "btn_end",
                "label":"Button"
              }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
