<div class="section">
  <div class="container">
    <div class="row pd-top">
      <div class="col-md-6">
        <div class="side_heading">
          <h1 class="side_header">{{ section.settings.page_header }}</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="side_content">
          <p class="side_content_main">{{ section.settings.side_content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "image content",
	"class":"custom_image_Section",
    "settings": [
			{
              "type": "text",
			  "id" : "page_header",
			  "label": "Side Heading"
            },
			{
              "type": "text",
			  "id" : "side_content",
			  "label": "Side Content"
            }
	],
	"presets": [
      {
        "name": "image content Section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
