<style>
@media only screen and (max-width: 600px) {
	.flex_header {
		margin-bottom: 0px !important;
	}
	.flex_content {
		padding-top: 0px !important; 
		margin-bottom: 0px !important;
	}
}
</style>	

<div class="section">
  <div class="container flex_padding">
    {% for image_flex in section.blocks %}
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="flex_text">
          <h2 class="flex_header">{{ image_flex.settings.flex_header }}</h2>
          <span class="flex_temp">{{ image_flex.settings.flex_temp }}</span>
          <p class="flex_content">{{ image_flex. settings.flex_content }}</p>
		  {%- if image_flex.settings.flex_content2 != "" -%}
          	<p class="flex_content2">{{ image_flex.settings.flex_content2 }}</p>
		  {%- endif-%}
          
           
         <div class="drop-down for_first_button">
            <div class="selected membership_btn_custom img_flex_meb_button">
            	<a class="for_first_button" href="javascript:void(0)"><span>Sign up</span></a>
            </div>
            <ul class="options img_flex_options">
              <li>
                <div class="module_btns  {% if forloop.index == 2 %}refresh_member{% endif %} {% if forloop.index == 1 %}flex_member{% endif %}">
                  {% if forloop.index ==1 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Monthly" data-service-id="109" class="healcode_btn">Monthly</healcode-widget>
                  {% endif %}
                  {% if forloop.index == 2 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Monthly" data-service-id="107" class="healcode_btn">Monthly</healcode-widget>
                  {% endif %}

                  {% if forloop.index ==1 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Annual" data-service-id="111" class="healcode_btn">Annual</healcode-widget>	
                  {% endif %}
                  {% if forloop.index == 2 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Annual" data-service-id="112" class="healcode_btn">Annual</healcode-widget>	
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        
          
        </div>
       
      </div>

      <div class="col-md-6">
        <div class="flex_image">
        	<img class="flex_image_main" src="{{ image_flex.settings.flex_image | img_url:'master' }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
	jQuery(".selected a").click(function(){
    	jQuery(this).parents(".for_first_button").find("ul.img_flex_options").slideToggle();
	});
</script>

<style>
	ul.img_flex_options {
      display: none;
    }
  .selected a {
    background: #5c82a5 0 0 no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    font-family: MrEavesModOT-Book;
    display: block;
    max-width: 150px;
/*     margin-top: 50px; */
    margin-right: 50px;
    padding: 0px 13px;
    text-decoration: none;
  }
  .selected a:hover {
    color: #fff!important;
  }
</style>
 

{% schema %}
  {
    "name": "image_flex_section",
	"class": "image_flex",
    "settings": [

	],
	"blocks": [
		{
			"type":"image_flex",
			"name": "Image_flex",
			"settings": [
				{
					"type":"text",
					"id": "flex_header",
					"label":"Image flex Heading"
				},
				{
					"type":"text",
					"id": "flex_temp",
					"label":"Image flex tag"
				},
				{
					"type":"text",
					"id": "flex_content",
					"label":"Image flex content"
				},
				{
					"type":"text",
					"id": "flex_content2",
					"label":"Image flex content2"
				},
				{
					"type":"image_picker",
					"id": "flex_image",
					"label":"Add flex Image"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
