<style>
	@media only screen and (max-width: 799px) {
	.text_over_head {
		margin-bottom: 20px !important;
	}
}
</style>
<div class="section img_with_text_for_desktop">
  <div class="container">
    <div class="row pd-over">
     {% for text_over in section.blocks %} 
      <div class="col-md-6">
        <div class="text_over">
          <h2 class="text_over_head">{{ text_over.settings.text_over_head }}</h2>
          <p class="text_over_address">{{ text_over.settings.text_over_address }}</p>
          <p class="text_over_content">{{ text_over.settings.text_over_content1 }}</p>
          <p class="text_over_content">{{ text_over.settings.text_over_content2 }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text_over_img">
        	<img class="text_over_img_main" src="{{ text_over.settings.text_over_img | img_url:'master' }}">
        </div>
        <div class="text_over_img_full_width">
        	<img class="text_over_img_main_full_width" src="{{ text_over.settings.text_over_img_full_width | img_url:'master' }}">
        </div>
      </div>
     {% endfor %}
    </div>
  </div>
</div>

<div class="section img_with_text_for_mobile">
  <div class="container">
    <div class="row pd-over">
     {% for text_over in section.blocks %} 
      <div class="col-md-6">
        <div class="text_over">
          <h2 class="text_over_head">{{ text_over.settings.text_over_head }}</h2>
          <p class="text_over_address">{{ text_over.settings.text_over_address }}</p>
          <p class="text_over_content">{{ text_over.settings.text_over_content1 }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text_over_img">
        	<img class="text_over_img_main" src="{{ text_over.settings.text_over_img | img_url:'master' }}">
        </div>
        <div class="text_over_img_full_width">
        	<img class="text_over_img_main_full_width" src="{{ text_over.settings.text_over_img_full_width | img_url:'master' }}">
        </div>  
      </div>
      <div class="texte_for_mobile">
       <p class="text_over_content for_mobile_view_content">{{ text_over.settings.text_over_content2 }}</p>
      </div>
     {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image with text",
    "settings": [

	],
	"blocks": [
		{
			"type":"text_over_page",
			"name": "text_over",
			"settings": [
				{
					"type":"text",
					"id": "text_over_head",
					"label":"Heading"
				},
				{
					"type":"text",
					"id": "text_over_address",
					"label":"Text Address"
				},
				{
					"type":"text",
					"id": "text_over_content1",
					"label":"Add Text"
				},
				{
					"type":"text",
					"id": "text_over_content2",
					"label":"Add Text"
				},
				{
					"type":"image_picker",
					"id": "text_over_img",
					"label":"Choose Image"
				},
				{
					"type":"image_picker",
					"id": "text_over_img_full_width",
					"label":"Choose Image"
				}
			]
		}
	],
	"presets": [
      {
        "name": "Image_with_text Section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
