<style>
@media only screen and (max-width: 800px) {
	.session_heading {
		padding-bottom: 0 !important;
	}
	.session_head{
		margin-bottom: 0 !important;
	}
	.session_img {
		padding-top: 10px !important;
	}
	.ul_list_section {
		padding-bottom: 5px !important;
	}
}
</style>
<div class="section">
  <div class="container section_reverse">
    {% for img_text in section.blocks %}
    <div class="row img_text_block">
      <div class="col-md-6">
        <div class="text_block">
          <div class="session_heading">
            <h2 class="session_head">{{ img_text.settings.session_head}}</h2>
            <span class="session_price">{{ img_text.settings.session_price }}</span>
          </div>
          <div class="session_description">
            <p class="session_content">{{ img_text.settings.session_description }}</p>
          </div>
          <div class="ul_list_section">
			{%- if img_text.settings.list_head != "" -%}
            	<p class="list_head">{{ img_text.settings.list_head }}</p>
			{%- endif-%}
          	<ul class="list_items_session">
              {% if img_text.settings.list_item1 != "" %}
              <li class="list_item">{{ img_text.settings.list_item1 }}</li>
              {% endif %}
              {% if img_text.settings.list_item2 != "" %}
              <li class="list_item2">{{ img_text.settings.list_item2 }}</li>
              {% endif %}
              {% if img_text.settings.list_item3 != "" %}
              <li class="list_item3">{{ img_text.settings.list_item3 }}</li>
              {% endif %}
              {% if img_text.settings.list_item4 != ""  %}
              <li class="list_item4">{{ img_text.settings.list_item4 }}</li>
              {% endif %}
              {% if img_text.settings.list_item5 != "" %}
              <li class="list_item5">{{ img_text.settings.list_item5 }}</li>
              {% endif %}
              {% if img_text.settings.list_item6!= "" %}
              <li class="list_item6">{{ img_text.settings.list_item6 }}</li>
              {% endif %}
            </ul>
          </div>
          <a class="btn_session" href="{{ img_text.settings.btn_url_session }}">{{ img_text.settings.btn_session }}</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="session_img">
        	<img class="session_img_main" src="{{ img_text.settings.session_img | img_url:'master' }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "image_block_section",
	"class": "image_text_block",
    "settings": [

	],
	"blocks": [
		{
			"type":"img_text_page",
			"name": "img_text",
			"settings": [
				{
					"type":"text",
					"id": "session_head",
					"label":"Session Heading"
				},
				{
					"type":"text",
					"id": "session_price",
					"label":"Session Price"
				},
				{
					"type":"richtext",
					"id": "session_description",
					"label":"Session description"
				},
				{
					"type":"text",
					"id": "list_head",
					"label":"Add head item"
				},
				{
					"type":"text",
					"id": "list_item1",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item2",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item3",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item4",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item5",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item6",
					"label":"Add list item"
				},
				{
					"type":"url",
					"id": "btn_url_session",
					"label":"Paste Link Here"
				},
				{
					"type":"text",
					"id": "btn_session",
					"label":"Button"
				},
				{
					"type":"image_picker",
					"id": "session_img",
					"label":"Add Image"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
