
<div class="section">
  <div class="container">
    <div class="row temp_img">
      {% for temp in section.blocks %}
      <div class="col-md-6 ds-flex">
        <div class="temp_r_img">
          <img class="temp_img_main" src="{{ temp.settings.temp_image | img_url:'master' }}">
        </div>
        <div class="temp_r_content">
					{% if temp.settings.temp_content != blank %}
						<h1 class="content_main">{{ temp.settings.temp_content }}</h1>
					{% endif %}
					{% if temp.settings.subtitle != blank %}
						<div class="subtitle">{{ temp.settings.subtitle }}</div>
					{% endif %}
					{% if temp.settings.btn_link != blank and temp.settings.btn_label != blank %}
						<div class="btn_wrapper">
							<a class="session_btn" href="{{ temp.settings.btn_link }}">{{ temp.settings.btn_label }}</a>
						</div>
					{% endif %}
        </div>
      </div>
      {% endfor %}

			{% if section.settings.url_btn != blank and section.settings.btn_text != blank %}
				<a class="session_btn" href="{{ section.settings.url_btn }}">{{ section.settings.btn_text }}</a>
			{% endif %}
      
    </div>
  </div>
</div>
<div class="row_bottom"></div>
{% schema %}
  {
    "name": "Image grid",
		"class": "section-image-grid",
    "settings": [
				{
					"type":"url",
					"id": "url_btn",
					"label":"Paste Link"
				},
				{
					"type":"text",
					"id": "btn_text",
					"label":"Add text"
				}
	],
	"blocks": [
		{
			"type":"temp_page",
			"name": "temp",
			"settings": [
				{
					"type":"image_picker",
					"id": "temp_image",
					"label":"Add Image"
				},
				{
					"type":"text",
					"id": "temp_content",
					"label":"Heading"
				},
				{
					"type": "text",
					"id": "subtitle",
					"label": "Sub title"
				},
				{
					"type": "url",
					"id": "btn_link",
					"label": "Button link"
				},
				{
					"type": "text",
					"id": "btn_label",
					"label": "Button label"
				}
			]
		}
	],
	"presets": [
      {
        "name": "image temp"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
