<div class="locations-section">
  <div class="page-width">
    <h2 class="text-center pricing-header mt-5 mb-2">
      {{ section.settings.title }}
    </h2>
    <div class="text-center instagram-subtitle mb-3">
      <a href="{{ section.settings.instagram_url }}" target="_blank">
        Connect on <img src={{ "instagram-camera-icon.png" | asset_url }} class="subtitle-instagram-icon ml-2 mb-1" />
      </a>
    </div>

    <div class='row flex-row-wrap'>
      {% for block in section.blocks %}
        <div class="col-lg-3 col-md-6 col-12 instagram-picture-container p-0">
          <a href="{{ block.settings.instagram_url }}" target="_blank" >
            <img class="lazy lazyload lazypreload instagram-picture" data-src="{{ block.settings.instagram_photo | image_url }}"
              alt="{{ block.settings.instagram_photo.alt | escape }}" />
            <img src={{ "instagram-icon-white.png" | asset_url }} class="lazy instagram-picture-icon" />
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
div#shopify-section-1605628834f1ef4bf3 h2.text-center.pricing-header.mt-5.mb-2 {
    font-family: 'OrpheusPro' !important;
    font-size: 45px;
    line-height: 54px;
    text-transform: capitalize;
  	color: #707070;
}
  div#shopify-section-1605628834f1ef4bf3 .text-center.instagram-subtitle.mb-3 a {
    font-size: 22px;
    font-family: 'MrEavesModOT-Book';
    line-height: 25px;
    color: #707070!important;
}
</style>
{% schema %}
{
  "name": "Instagram Gallery",
  "class": "instagram-gallery",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    }
  ],
  "blocks": [
    {
      "type": "instagram_photo",
      "name": "Instagram Photo",
      "settings": [
        {
          "type": "image_picker",
          "id": "instagram_photo",
          "label": "Instagram Photo"
        },
        {
          "type": "url",
          "id": "instagram_url",
          "label": "Instagram URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram Gallery",
      "category": "Promotional",
      "blocks": [
        {
          "type": "instagram_photo"
        },
        {
          "type": "instagram_photo"
        },
        {
          "type": "instagram_photo"
        },
        {
          "type": "instagram_photo"
        }
      ]
    }
  ]
}
{% endschema %}
