<div class="banner_session">
  {% if section.settings.image != blank %}
    <div class="img_section">
      <img class="session_banner_image" src="{{ section.settings.image | img_url:'2048x' }}">
      <img class="session_banner_image_mobile" src="{{ section.settings.image_mob | img_url:'master' }}">
    </div>
  {% endif %}
  <div class="banner_text">
    {% if section.settings.banner_text_head != blank %}
      <h2 class="banner_text_head">{{ section.settings.banner_text_head }}</h2>
    {% endif %}
    {% if section.settings.banner_text_content != blank %}
      <p class="banner_text_content">{{ section.settings.banner_text_content }}</p>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Session Banner Section",
    "settings": [
      {
          "type":"image_picker",
          "id": "image",
          "label":"Image"
      },
      {
        "type":"image_picker",
        "id": "image_mob",
        "label":"Image (mobile)"
      },
      {
        "type":"text",
        "id": "banner_text_head",
        "label":"Add header"
      },
      {
        "type":"text",
        "id": "banner_text_content",
        "label":"Add content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
