<div class="page-width mt-5 pt-5">
  {% if section.settings.title != blank %}
    <div class="text-center">
      <h2 class="logo-bar-title">{{ section.settings.title | escape }}</h2>
    </div>
    <div class="text-center">
      <p class="logo-bar-subtitle">{{ section.settings.subtitle | escape }}</p>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="mt-5 d-flex align-items-center justify-content-around flex-wrap">
      {% for block in section.blocks %}
        <div class="text-center my-3 logo-item">
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" target="_blank">
          {% endif %}
          {% if block.settings.image != blank %}
            <img src={{ block.settings.image | image_url }} class="logo-bar-image" />
          {% endif %}
          {% if block.settings.link != blank %}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="text-center mb-5">
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": {
    "cs": "Seznam log",
    "da": "Logoliste",
    "de": "Logo-Liste",
    "en": "Logo list",
    "es": "Lista de logos",
    "fi": "Logoluettelo",
    "fr": "Liste des logos",
    "hi": "लोगो सूची",
    "it": "Elenco loghi",
    "ja": "ロゴリスト",
    "ko": "로고 목록",
    "nb": "Logoliste",
    "nl": "Logolijst",
    "pl": "Lista logo",
    "pt-BR": "Lista de logotipos",
    "pt-PT": "Lista de logótipos",
    "sv": "Logotyplista",
    "th": "รายการโลโก้",
    "tr": "Logo listesi",
    "vi": "Danh sách logo",
    "zh-CN": "logo 列表",
    "zh-TW": "標誌清單"
  },
  "class": "index-section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Seznam log",
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Logo list",
        "es": "Lista de logos",
        "fi": "Logoluettelo",
        "fr": "Liste de logos",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "nb": "Logoliste",
        "nl": "Logolijst",
        "pl": "Lista logo",
        "pt-BR": "Lista de logotipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Logotyplista",
        "th": "รายการโลโก้",
        "tr": "Logo listesi",
        "vi": "Danh sách logo",
        "zh-CN": "logo 列表",
        "zh-TW": "標誌清單"
      }
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": {
        "cs": "Sub Nadpis",
        "da": "Sub Overskrift",
        "de": "Sub Titel",
        "en": "Sub Heading",
        "es": "Sub Título",
        "fi": "Sub Otsake",
        "fr": "Sub Sub En-tête",
        "hi": "Sub शीर्षक",
        "it": "Sub Heading",
        "ja": "Sub 見出し",
        "ko": "Sub 제목",
        "nb": "Sub Overskrift",
        "nl": "Sub Kop",
        "pl": "Sub Nagłówek",
        "pt-BR": "Sub Título",
        "pt-PT": "Sub Título",
        "sv": "Sub Rubrik",
        "th": "Sub ส่วนหัว",
        "tr": "Sub Başlık",
        "vi": "Sub Tiêu đề",
        "zh-CN": "Sub 标题",
        "zh-TW": "Sub 標題"
      }
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": {
        "cs": "Logo",
        "da": "Logo",
        "de": "Logo",
        "en": "Logo",
        "es": "Logo",
        "fi": "Logo",
        "fr": "Logo",
        "hi": "लोगो",
        "it": "Logo",
        "ja": "ロゴ",
        "ko": "로고",
        "nb": "Logo",
        "nl": "Logo",
        "pl": "Logo",
        "pt-BR": "Logotipo",
        "pt-PT": "Logótipo",
        "sv": "Logotyp",
        "th": "โลโก้",
        "tr": "Logo",
        "vi": "Logo",
        "zh-CN": "logo",
        "zh-TW": "商標"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "cs": "Obrázek",
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pl": "Obraz",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "tr": "Görsel",
            "vi": "Hình ảnh",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "cs": "Odkaz",
            "da": "Link",
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fi": "Linkki",
            "fr": "Lien",
            "hi": "लिंक",
            "it": "Link",
            "ja": "リンク",
            "ko": "링크",
            "nb": "Kobling",
            "nl": "Link",
            "pl": "Link",
            "pt-BR": "Link",
            "pt-PT": "Ligação",
            "sv": "Länk",
            "th": "ลิงก์",
            "tr": "Bağlantı",
            "vi": "Liên kết",
            "zh-CN": "链接",
            "zh-TW": "連結"
          },
          "info": {
            "cs": "Volitelné",
            "da": "Valgfri",
            "de": "Optional",
            "en": "Optional",
            "es": "Opcional",
            "fi": "Valinnainen",
            "fr": "Facultatif",
            "hi": "वैकल्पिक",
            "it": "Facoltativo",
            "ja": "オプション",
            "ko": "선택 사항",
            "nb": "Valgfritt",
            "nl": "Optioneel",
            "pl": "Opcjonalnie",
            "pt-BR": "Opcional",
            "pt-PT": "Opcional",
            "sv": "Valfritt",
            "th": "ไม่จำเป็น",
            "tr": "İsteğe bağlı",
            "vi": "Không bắt buộc",
            "zh-CN": "可选",
            "zh-TW": "(選填)"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Seznam log",
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Logo list",
        "es": "Lista de logos",
        "fi": "Logoluettelo",
        "fr": "Liste de logos",
        "hi": "लोगो सूची",
        "it": "Elenco loghi",
        "ja": "ロゴリスト",
        "ko": "로고 목록",
        "nb": "Logoliste",
        "nl": "Logolijst",
        "pl": "Lista logo",
        "pt-BR": "Lista de logotipos",
        "pt-PT": "Lista de logótipos",
        "sv": "Logotyplista",
        "th": "รายการโลโก้",
        "tr": "Logo listesi",
        "vi": "Danh sách logo",
        "zh-CN": "logo 列表",
        "zh-TW": "標誌清單"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
