<style>
  @media only screen and (max-width: 800px) {
  .membership_btn_custom a {
    margin-top: 5px !important;


    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 5px 0 !important;
  }
  .membership_btn_custom a span {
    font-size: 20px;
  } 
  .ul_list_section_membership {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    line-height: 1.2;
  }
  .membership_head {
    margin-bottom: 0px !important;
  }
}
</style>
<div class="section">
  <div class="container section_membership">
    {% for membership in section.blocks %}
    <div class="row img_text_block">
      <div class="col-md-6">
        <div class="text_block">
          <div class="membership_heading {% if forloop.index == 2 %}custom_heading {% endif %}">
            <h2 class="membership_head">{{ membership.settings.membership_head}}</h2>
            <span class="membership_price">{{ membership.settings.membership_price }}</span>
          </div>
          <div class="membership_description">
            <p class="membership_content">{{ membership.settings.membership_description }}</p>
          </div>
          <div class="ul_list_section ul_list_section_membership">
            {% if membership.settings.list_head != "" %}
              <p class="list_head">{{ membership.settings.list_head }}</p>
            {% endif %}
          	<ul class="list_items_membership">
              {% if membership.settings.list_item1 != "" %}
              <li class="list_item">{{ membership.settings.list_item1 }}</li>
              {% endif %}
              {% if membership.settings.list_item2 != "" %}
              <li class="list_item2">{{ membership.settings.list_item2 }}</li>
              {% endif %}
              {% if membership.settings.list_item3 != "" %}
              <li class="list_item3">{{ membership.settings.list_item3 }}</li>
              {% endif %}
              {% if membership.settings.list_item4 != "" %}
              <li class="list_item4">{{ membership.settings.list_item4 }}</li>
              {% endif %}
              {% if membership.settings.list_item5 != "" %}
              <li class="list_item5">{{ membership.settings.list_item5 }}</li>
              {% endif %}
            </ul>
          </div>
          <div class="drop-down">
            <div class="selected membership_btn_custom">
            	<a href="javascript:void(0)"><span>Sign up</span></a>
            </div>
            <ul class="options">
              <li>
                <div class="module_btns  {% if forloop.index == 2 %}refresh_member{% endif %} {% if forloop.index == 1 %}flex_member{% endif %}">
                  {% if forloop.index ==1 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>

                      <div class="normal-monthly">
                        <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Monthly" data-service-id="109" class="healcode_btn">Monthly</healcode-widget>
                      </div>
                      <div class="tenant-monthly">
                        <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Monthly" data-service-id="110" class="healcode_btn">Monthly</healcode-widget>
                      </div>
                  {% endif %}
                  {% if forloop.index == 2 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Monthly" data-service-id="107" class="healcode_btn">Monthly</healcode-widget>
                  {% endif %}

                  {% if forloop.index ==1 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Annual" data-service-id="111" class="healcode_btn">Annual</healcode-widget>	
                  {% endif %}
                  {% if forloop.index == 2 %}
                      <script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
                      <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924" data-mb-site-id="990566" data-bw-identity-site="false" data-type="contract-link" data-inner-html="Annual" data-service-id="112" class="healcode_btn">Annual</healcode-widget>	
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="membership_img">
        	<img class="membership_img_main" src="{{ membership.settings.membership_img | img_url:'master' }}">
        </div>
        <div class="membership_img_mob">
        	<img class="membership_img_main" src="{{ membership.settings.membership_img_mob | img_url:'master' }}">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      	<script src="https://widgets.mindbodyonline.com/javascripts/healcode.js" type="text/javascript"></script>
        
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

<script>
	jQuery(".selected a").click(function(){
    	jQuery(this).parents(".drop-down").find("ul.options").slideToggle();
	});
</script>

<style>
	ul.options {
      display: none;
    }
  .selected a {
    background: #5c82a5 0 0 no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    font-family: MrEavesModOT-Book;
    display: block;
    max-width: 150px;
    margin-top: 50px;
    margin-right: 50px;
    padding: 0px 13px;
    text-decoration: none;
  }
  .selected a:hover {
    color: #fff!important;
  }
</style>
{% schema %}
  {
    "name": "membership_block_section",
	"class": "membership_block",
    "settings": [

	],
	"blocks": [
		{
			"type":"membership_page",
			"name": "membership",
			"settings": [
				{
					"type":"text",
					"id": "membership_head",
					"label":"membership Heading"
				},
				{
					"type":"text",
					"id": "membership_price",
					"label":"membership Price"
				},
				{
					"type":"richtext",
					"id": "membership_description",
					"label":"membership description"
				},
				{
					"type":"text",
					"id": "list_head",
					"label":"Add head item"
				},
				{
					"type":"text",
					"id": "list_item1",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item2",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item3",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item4",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item5",
					"label":"Add list item"
				},
				{
					"type":"url",
					"id": "btn_url_membership",
					"label":"Paste Link Here"
				},
				{
					"type":"text",
					"id": "btn_membership",
					"label":"Button"
				},
				{
					"type":"url",
					"id": "btn_url_membership_second",
					"label":"Paste Link Here"
				},
				{
					"type":"text",
					"id": "btn_membership_second",
					"label":"Button"
				},
				{
					"type":"image_picker",
					"id": "membership_img",
					"label":"Add Image"
				},
                {
					"type":"image_picker",
					"id": "membership_img_mob",
					"label":"Add Image"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<script>
  const normalMonthly = document.querySelector('.normal-monthly');
  const tenantMonthly = document.querySelector('.tenant-monthly');

  const flag = window.sessionStorage.getItem('tenant');
  if (flag == '1') {
    normalMonthly.classList.remove('is-active');
    tenantMonthly.classList.add('is-active');
  } else {
    normalMonthly.classList.add('is-active');
    tenantMonthly.classList.remove('is-active');
  }
</script>

<style>
  .normal-monthly, .tenant-monthly {
    display: none;
  }

  .normal-monthly.is-active, .tenant-monthly.is-active {
    display: block;
  }
</style>