<div class="pricing-section" id="pricing">
  <div class="page-width">
    <h2 class="text-center pricing-header mt-5 mb-4">
      {{ section.settings.title }}
    </h2>

    <div class='d-flex flex-column flex-md-row justify-content-around flex-row-wrap'>
      <div class='pricing-column px-3 py-5 my-md-0 my-3'>
        <div class="buy-now-button mt-0 mb-4 pb-2">
          <healcode-widget data-version="0.2" data-link-class="healcode-contract-text-link" data-site-id="97924"
            data-mb-site-id="990566" data-type="contract-link" data-inner-html="BECOME A MEMBER" data-service-id="109" />
        </div>

        <h5 class="column-title mb-4 pb-2">
          {{ section.settings.column_1_title }}
        </h5>
        {% for block in section.blocks %}
          {% if block.settings.column_number == "one" %}
            <div class='d-flex justify-content-between mb-2'>
              <div class='service-tagline'>
                {{ block.settings.title }}
              </div>
              <div class='service-cost'>
                {{ block.settings.price }}
              </div>
            </div>
            {% if block.settings.description != blank %}
              <div class='rte service-description'>
                {{ block.settings.description }}
              </div>
            {% endif %}
            {% if block.settings.bottom_border == 'yes' %}
              <div class='service-border'></div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class='pricing-column px-3 py-5 my-md-0 my-3'>
        <div class="buy-now-button mt-0 mb-4 pb-2">
          <a href="/pages/book-appointment" class="healcode-contract-text-link">
            BOOK A SESSION
          </a>
        </div>

        <h5 class="column-title mb-4 pb-2">
          {{ section.settings.column_2_title }}
        </h5>

        {% for block in section.blocks %}
          {% if block.settings.column_number == "two" %}
            <div class='d-flex justify-content-between mb-2'>
              <div class='service-tagline'>
                {{ block.settings.title }}
              </div>
              <div class='service-cost'>
                {{ block.settings.price }}
              </div>
            </div>
            {% if block.settings.description != blank %}
              <div class='rte service-description'>
                {{ block.settings.description }}
              </div>
            {% endif %}
            {% if block.settings.bottom_border == 'yes' %}
              <div class='service-border'></div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class='pricing-column px-3 py-5 my-md-0 my-3'>
        <h5 class="column-title mb-4 pb-2">
          <div class="buy-now-button mt-5 pb-3">
          </div>
          {{ section.settings.column_3_title }}
        </h5>

        {% for block in section.blocks %}
          {% if block.settings.column_number == "three" %}
            <div class='d-flex justify-content-between mb-2'>
              <div class='service-tagline'>
                {{ block.settings.title }}
              </div>
              <div class='service-cost'>
                {{ block.settings.price }}
              </div>
            </div>
            {% if block.settings.description != blank %}
              <div class='rte service-description'>
                {{ block.settings.description }}
              </div>
            {% endif %}
            {% if block.settings.bottom_border == 'yes' %}
              <div class='service-border'></div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "pricing",
  "class": "pricing-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "column_1_title",
      "label": "Column 1 Title"
    },
    {
      "type": "text",
      "id": "column_2_title",
      "label": "Column 2 Title"
    },
    {
      "type": "text",
      "id": "column_3_title",
      "label": "Column 3 Title"
    }
  ],
  "blocks": [
    {
      "type": "service_offerings",
      "name": "Service Offerings",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "column_number",
          "label": "Column Number",
          "default": "one",
          "options": [
            {
              "value": "one",
              "label": "1"
            },
            {
              "value": "two",
              "label": "2"
            },
            {
              "value": "three",
              "label": "3"
            }
          ]
        },
        {
          "type": "select",
          "id": "bottom_border",
          "label": "Show bottom border",
          "default": "no",
          "options": [
            {
              "value": "yes",
              "label": "Yes"
            },
            {
              "value": "no",
              "label": "No"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pricing",
      "category": "Promotional",
      "blocks": [
        {
          "type": "service_offerings"
        }
      ]
    }
  ]
}
{% endschema %}
