<div class="banner_session">
  <div class="img_section">
  	<img class="session_banner_image" src="{{ section.settings.session_banner_image | img_url:'2048x' }}">
    <img class="session_banner_image_mobile" src="{{ section.settings.session_banner_image_mobile | img_url:'master' }}">
  </div>
  <div class="banner_text">
    <h2 class="banner_text_head">{{ section.settings.banner_text_head }}</h2>
    <p class="banner_text_content">{{ section.settings.banner_text_content }}</p>
  </div>
</div>
{% schema %}
  {
    "name": "Session Banner Section",
    "settings": [
              {
                  "type":"image_picker",
                  "id": "session_banner_image",
                  "label":"Add Banner Image"
              },
			  {
                  "type":"image_picker",
                  "id": "session_banner_image_mobile",
                  "label":"Add Banner Image mobile"
              },
			  {
                  "type":"text",
                  "id": "banner_text_head",
                  "label":"Add header"
              },
			  {
                  "type":"text",
                  "id": "banner_text_content",
                  "label":"Add content"
              }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
