<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 slide_pd">
        <h1 class="slide_header">{{ section.settings.slide_header }}</h1>
        <p class="slide_content">{{ section.settings.slide_content }}</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
  	<div class="slider_main">
		<div class="slick_carousel">
          {% for grid in section.blocks %}
          {% if grid.type == 'grid_slide' %}
			<div class="">
			  <img src="{{ grid.settings.slide_item | img_url:'master' }}" class="d-block w-100" alt="...">
			</div>
          {% endif %}
		  {% endfor %}
		</div>
	</div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 slide_pb">
        <h2 class="slide_foot">{{ section.settings.slide_foot }}</h2>
        <a class="book_btn" href="{{ section.settings.url_book }}">{{ section.settings.btn_book }}</a>
      </div>
    </div>
  </div>
</div>
<div class="section bg-blue">
  <div class="row">
    <div class="col-md-12">
      <div class="slide_carousel">
        {% for content in section.blocks %}
        {% if content.type == 'content_slide' %}
        <div class="Slide_carousel_inner row">
          <div class=" col-md-4 slide_img_main">
              <img class="slide_main_wbp" src="{{ content.settings.slide_img_main | img_url:'500x500' }}">
          </div>
          <div class="col-md-8 slide_txt">
            <p class="slide_txt_content">{{ content.settings.slide_txt_content }}</p>
            <h2 class="content_name">{{ content.settings.content_name }}</h2>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Slider section",
	"class":"custom_slider_Section",
    "settings": [
              {
                "type":"text",
                "id": "slide_header",
                "label":"Heading"
              },
			  {
                "type":"text",
                "id": "slide_content",
                "label":"Content"
              },
			  {
                "type":"text",
                "id": "slide_foot",
                "label":"Content"
              },
			  {
                "type":"url",
                "id": "url_book",
                "label":"Paste link here"
              },
			  {
                "type":"text",
                "id": "btn_book",
                "label":"Button"
              }
	],
	"blocks": [
		{
			"type":"grid_slide",
			"name": "grid",
			"settings": [
				{
					"type":"image_picker",
					"id": "slide_item",
					"label":"Add Slide"
				}
			]
		},
		{
			"type":"content_slide",
			"name": "content",
			"settings": [
				{
					"type":"image_picker",
					"id": "slide_img_main",
					"label":"Add Slide Image"
				},
				{
					"type":"text",
					"id": "slide_txt_content",
					"label":"Add Slide Text"
				},
				{
					"type":"text",
					"id": "content_name",
					"label":"Add Slide content Name"
				}
			]
		}
	],
	"presets": [
      {
        "name": "Slider Section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
