<div class="section">
  <div class="container">
    <div class="row">
      <div class="storage_add">
        <h2 class="storage_add_head">{{ section.settings.storage_add_head }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row storage_main">
	{%- comment -%}
	{% for storage in section.blocks %}
		<div class="col-md-6 position">
			<div class="storage_detail">
			<h2 class="storage_header">{{ storage.settings.storage_header }}</h2>
			<span class="storage_price">{{ storage.settings.storage_price }}</span>
			<ul class="list_style_ul">
				<li class="list_item">{{ storage.settings.list_item1 }}</li>
				<li class="list_item">{{ storage.settings.list_item2 }}</li>
			</ul>
			<a class="storage_btn" href="{{ storage.settings.storage_url }}?subject={{ storage.settings.mail_subject }}&body={{ storage.settings.mail_body }}">{{ storage.settings.storage_btn }}</a>
			</div>
			<div class="bg_image">
				<img class="storage_bg_img" src="{{ storage.settings.storage_bg | img_url:'master' }}">
			</div>
		</div>
      {% endfor %}

	{%- endcomment -%}
      

	  {% for storage in section.blocks %}
		<div class="col-md-6 position">
			<div class="storage-item">
				<div class="storage-item__img">
					<img class="storage_bg_img" src="{{ storage.settings.storage_bg | img_url:'master' }}">
				</div>
	
				<div class="storage-item__detail">
					<div class="storage-item__detail-inner">
						<h2 class="storage_header">{{ storage.settings.storage_header }}</h2>
						<span class="storage_price">{{ storage.settings.storage_price }}</span>
						<ul class="list_style_ul">
							<li class="list_item">{{ storage.settings.list_item1 }}</li>
							<li class="list_item">{{ storage.settings.list_item2 }}</li>
						</ul>
						<a class="storage_btn" href="{{ storage.settings.storage_url }}?subject={{ storage.settings.mail_subject }}&body={{ storage.settings.mail_body }}">{{ storage.settings.storage_btn }}</a>
					</div>
				</div>
			</div>
		</div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "storage_section",
	"class": "storage_section",
    "settings": [
			{
                "type":"text",
                "id": "storage_add_head",
                "label":"storage add Heading"
            },
			{
                "type":"text",
                "id": "storage_add_content",
                "label":"storage add Content"
            }
	],
	"blocks": [
		{
			"type":"storage_page",
			"name": "storage",
			"settings": [
				{
					"type":"text",
					"id": "storage_header",
					"label":"storage Heading"
				},
				{
					"type":"text",
					"id": "storage_price",
					"label":"storage Price"
				},
				{
					"type":"text",
					"id": "list_item1",
					"label":"Add list item"
				},
				{
					"type":"text",
					"id": "list_item2",
					"label":"Add list item"
				},
				{
					"type":"url",
					"id": "storage_url",
					"label":"Paste Link Here"
				},
				{
					"type":"text",
					"id": "mail_subject",
					"label":"Add subject"
				},
				{
					"type":"text",
					"id": "mail_body",
					"label":"Add Body Text"
				},
				{
					"type":"text",
					"id": "storage_btn",
					"label":"Button"
				},
				{
					"type":"image_picker",
					"id": "storage_bg",
					"label":"Add Background Image"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
