<div class="section">
  <div class="container">
    <div class="row">
      <p class="studio_txt_head">{{ section.settings.studio_txt_head }}</p>
    </div>
  </div>
</div>
<div class="section zm-out">
  <div class="container-fluid max-width">
    <div class="row">
      {% for std_list in section.blocks %}
      <div class="col-md-3">
        <div class="studio_list">
          <div class="st_img">
        	<img class="studio_list_img" src="{{ std_list.settings.studio_list_img1 | img_url:'290x170' }}">
          </div>
          	<p class="studio_list_text">{{ std_list.settings.studio_list_text1 }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <a class="btn_learn" href="{{ section.settings.learn_url }}">{{ section.settings.btn_learn }}</a>
  </div>
</div>



<style>
  .st_img img{
  		height: auto !important
  }
  .st_img {
      min-height: 175px;
  }
  @media screen and (min-width: 767px) and (max-width: 768px){
    .el_imgs {
      padding-top: 50px;
    }
  }
</style>
{% schema %}
  {
    "name": "studio section",
    "settings": [
              {
                "type": "text",
                "id" : "studio_txt_head",
                "label": "Text"
              },
			  {
                "type": "url",
                "id" : "learn_url",
                "label": "Paste Link here"
              },
			  {
                "type": "text",
                "id" : "btn_learn",
                "label": "button"
              }
				
	],
	"blocks": [
		{
			"type":"std_list_page",
			"name": "std_list",
			"settings": [
				{
					"type":"image_picker",
					"id": "studio_list_img1",
					"label":"Add Image"
				},
				{
					"type":"text",
					"id": "studio_list_text1",
					"label":"Heading"
				}
			]
		}
	],
	"presets": [
      {
        "name": "studio Section"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
