@charset "UTF-8";

@font-face {
  font-family: 'MrEavesModOT-Book';
  src:  url({{ "MrEavesModOT-Book.ttf" | asset_url }}) format('truetype'),
        url({{ "MrEavesModOT-Book.woff" | asset_url }}) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MrEavesModOT';
  src:  url({{ "MrEavesModOT-Reg.ttf" | asset_url }}) format('truetype'),
        url({{ "MrEavesModOT-Reg.woff" | asset_url }}) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MrEavesModOT';
  src:  url({{ "MrEavesModOT-Bold.woff" | asset_url }}) format('woff'),
        url({{ "MrEavesModOT-Bold.ttf" | asset_url }}) format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'MrEavesModOT';
  src:  url({{ "MrEavesModOT-Light.woff" | asset_url }}) format('woff'),
        url({{ "MrEavesModOT-Light.ttf" | asset_url }}) format('truetype');
  font-weight: lighter;
  font-style: lighter;
}

/* @font-face {
  font-family: 'OrpheusPro';
  src:  url({{ "OrpheusPro-Reg.woff" | asset_url }}) format('woff'),
        url({{ "OrpheusPro-Reg.ttf" | asset_url }}) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OrpheusPro';
  src:  url({{ "OrpheusPro-Bold.woff" | asset_url }}) format('woff'),
        url({{ "OrpheusPro-Bold.ttf" | asset_url }}) format('truetype');
  font-weight: bold;
  font-style: bold;
}
 */

.shopify-section .announcement-bar {
    display: none;
}
a.healcode-link.py-2.px-2.px-lg-4.header-book-session.healcode-contract-text-link.buy-now-button.site-nav__label {
    display: block;
}
a.healcode-link.py-2.px-2.header-book-session.healcode-contract-text-link.buy-now-button.site-nav__label {
    background: #5c82a5 0 0 no-repeat padding-box;
    opacity: 1;
    letter-spacing: 0;
    color: #fff;
    margin-right: 20px;
    margin-top: 86px;
    font-size: 28px;
    padding: 11px 11px!important;
    text-transform: capitalize;
    font-family: MrEavesModOT-Book;
}
a.healcode-link.py-2.px-2.px-lg-4.header-book-session.healcode-contract-text-link.buy-now-button.site-nav__label:hover {
    color: #fff!important;
    background-color: #5e708a;
    touch-action: none;
    border: none;
}
span.sticky-book-session.py-2.px-4 {
    display: none;
}
.row.pd-top {
    padding-top: 100px;
    padding-bottom: 80px;
}
h1.side_header {
    font-size: 55px;
    font-family: 'OrpheusPro';
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
  	line-height: 55px;
    text-align: left;
  	padding-left: 0;
    padding-right: 117px;
}
p.side_content_main {
    font-size: 30px;
    font-family: MrEavesModOT-Book;
    letter-spacing: 0;
    color: #707070;
  	padding-left: 22px;
    opacity: 1;
    line-height: 40px;
    text-align: left;
}
.banner_session {
      position: relative;
}
.banner_text {
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
}
h1.hero-main-title.mt-md-5.mt-1.mt-md-0.mega-title--large {
    font-family: 'OrpheusPro';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  	display: block;
    margin: auto;
  	line-height: 60px;
}
a.btn.hero__btn {
    background: #5c82a5;
    opacity: 1;
    letter-spacing: 0;
    color: #fff;
    margin-right: 20px;
    margin-top: 86px;
    font-size: 28px;
    padding: 9px 18px;
    text-transform: inherit;
    font-family: MrEavesModOT-Book;
}
h1.content_main {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-size: 46px;
    font-family: 'OrpheusPro';
    text-align: center;
    padding: 45px 0 92px;
}
a.session_btn {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: block;
    margin: auto;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
}
.row_bottom {
    max-width: 1180px;
    border-bottom: 1px solid #707070;
    margin: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  h1.slide_header {
    font-size: 34px;
  }
}


h1.slide_header {
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    /* font-size: 48px; */
    font-size: 34px;
    font-family: 'OrpheusPro';
  	text-align: center;
}
p.slide_content {
    letter-spacing: 0px;
  	line-height: 1;
    color: #707070;
    opacity: 1;
    font-size: 26px;
    font-family: 'MrEavesModOT-Book';
    text-align: center;
}
.col-md-12.slide_pd {
    padding-top: 35px;
    padding-bottom: 35px;
}
.slick-dots li button:before, .slick-dots li a:before {
    top: 13px;
    left: 0;
    content: "•";
    font-size: 30px;
    color: #5C82A5;
    opacity: 1;
}
h2.slide_foot {
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 34px;
    font-family: 'OrpheusPro';
    text-align: center;
}
.col-md-12.slide_pb {
    padding-top: 40px;
    padding-bottom: 80px;text-align: center;
}
a.book_btn {
    background: #5c82a5 0 0 no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    font-family: MrEavesModOT-Book;
    display: block;
    margin: auto;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
/*     max-width: 220px; */
  	margin-top: 40px;
  display: inline-block;
}
.max-width {
	max-width:80%;text-align: center;
}
p.studio_txt_head {
    font-size: 44px;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    text-align: center;
    font-family: 'OrpheusPro';
    display: block;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 75px;
}
.studio_list {
    text-align: center;
}
p.studio_list_text {
    font-size: 27px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    line-height: 1;
    font-family: 'MrEavesModOT-Book';
    padding-top: 50px;
}
img.studio_list_img {
    height: 22vh;
}
a.btn_learn {
    background: #5c82a5 0 0 no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    font-family: MrEavesModOT-Book;
    display: block;
    margin: auto;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
/*     max-width: 220px; */
    margin-top: 80px;display: inline-block;
}
.Slide_carousel_inner {
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 80px;
}
p.slide_txt_content {
    font-size: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: 'OrpheusPro';
  	padding-right: 50px;
}
h2.content_name {
    font-size: 32px;
    color: #fff;
  	padding-top: 22px;
}
.bg-blue{
	background: #5c82a5;
}
.slide_carousel {
    padding: 0 50px;
}
.slide_txt {
    padding-left: 50px;
  	line-height: 50px;
}
.slide_carousel.slick-initialized .slick-slide  {
	display:flex!important;
}
.custom_slider_Section .slick_carousel .slick-dots li a:before, .slick-dots li button:before {
    top: 20px;
  	color: #5c82a5;
}
.custom_slider_Section .slide_carousel .slick-dots li a:before, .slick-dots li button:before {
	top: -63px;
 	color: #fff;
}
.custom_slider_Section .slick_carousel .slick-dots li.slick-active button:before {
	color: #5c82a5;
}
.custom_slider_Section .slide_carousel .slick-dots li.slick-active button:before {
 	color: #fff;
}
.d-block {
    display: block;
}
h2.elements_header {
    font-size: 48px;
  	line-height:1 ;
    font-family: 'OrpheusPro';
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: center;
  margin-bottom: 0
}
p.elements_txt {
    font-size: 32px;
    text-align: center;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  	padding: 16px 0;
  padding-top: 0px;
  
}
.elements_list {
    text-align: center;
}
p.elements_list_text {
    font-size: 29px;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    line-height: 1;
    font-family: MrEavesModOT-Book;
/*     padding-top: 50px; */
}
img.elements_list_img {
    width: 75%;
    height: 26vh;
}
a.btn_elements {
    background: #5c82a5 0 0 no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    font-family: MrEavesModOT-Book;
    display: inline-block;
    margin: auto;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
/*     max-width: 220px; */
}
.section.brands {
    padding-top: 160px;
    padding-bottom: 60px;text-align: center;
}
.row.pd-over {
    padding-top: 110px;
}
.text_over_img {
    text-align: center;
}
h2.text_over_head {
    font-size: 48px;
  	font-family: 'OrpheusPro';
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: left;
  	margin-bottom: 40px;
}
p.text_over_address {
    font-size: 25px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  	line-height: 30px;
    font-family: 'MrEavesModOT-Book';
}
p.text_over_content {
    font-size: 25px;
    letter-spacing: 0;
    color: #707070;
  	line-height: 30px;
    opacity: 1;
    font-family: MrEavesModOT-Book;
}
.text_over {
    padding: 0px 216px 0 73px;
}
.text_over {
    padding: 61px 100px 0 0px;
}
.mobile_carousel {
	display:none;
}
.banner_custom_Section .d-flex {
    justify-content: center;
}
.brand_section .container {
  	 max-width: 1250px;
}


/* End Css */

img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 180px!important;
}
p.brand_title {
    font-size: 35px;
    color: #fff;
    width: 50%;
  	padding-top:25px;
  	line-height:1;
    text-align: center;
    margin: auto;
}
.brands_list {
    position: absolute;
    top: 50%;
    left: -3%;
    max-width: 55%;text-align:center;    transform: translateY(-50%);
}
img.brand_logo {
    width: 30%;
    display: block;
    margin: auto;
}
.brands_tamp {
    position: relative;
}
img.brand_logo {
    width: 40%;
    margin: auto;
    display: block;
}
.brand_text {
    padding: 43px 0;
}
a.btn_brand {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: inline-block;
/*     max-width: 220px; */
    margin: auto;
    margin-top: 50px;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
}
.dropleft{z-index: 999;}


@media only screen and (max-width: 768px) {
  
/*  sticky nav mobile  */
  
  
  nav.d-md-none.d-flex.w-100.mobile-navigation.justify-content-between:before {
        background: linear-gradient(180deg ,#6288ab,#5c82a5 10%,rgb(92 130 165) 60%,rgba(0,0,100,.1) 70%,rgba(255,80,45,0));
    transition: all .3s ease-in-out;
    width: 100%;
    height: 140px;
    content: "";
    position: absolute;
    transform: translateY(-140px);
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
  }
  .logo_header.d-flex a:nth-child(2) img {
    display: none;
  }
  .dropleft button:nth-child(2) {
    display: none;
  }
  nav.d-md-none.d-flex.w-100.mobile-navigation.justify-content-between.ps-fixed2 {
    position: fixed;
    z-index: 9;
    transition: all .3s ease-in-out;
    width: 100%;
  }
  nav.d-md-none.d-flex.w-100.mobile-navigation.justify-content-between.ps-fixed2:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  
/*  end css  */
  a.mobile_nav.btn_header {                      
    background: transparent;
    opacity: 1;
    letter-spacing: 0;
    color: #fff;
    display: block;
    z-index: 9;
    margin-right: 9px;
    font-size: 18px;
    margin-top: 27px;
    height: 100%;
    padding: 0px 14px;
    text-transform: capitalize;
    font-family: MrEavesModOT-Book;
  }
  nav.d-md-none.d-flex.w-100.mobile-navigation.justify-content-between a {
    z-index: 9;
    display: block;
  }
  li.customer_list a.navigation-link.mr-2.mr-lg-4.nav-2 {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    font-size: 20px!important;
    text-align: left;
    font-family: 'MrEavesModOT-Book';
    margin-left: 24px;
    margin-bottom: 5px;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  a.dropdown-item:hover {
    color: #5c82a5;
    background: #5c82a5;
  }
  h1.side_header {
    padding-left: 10px;
    line-height: 1;
    /* font-size: 45px; */
    font-size: 34px;
    padding-right:0;
  }
  a.btn_brand {
    font-size: 12px;
/*     max-width: 65px; */
    margin: auto;
/*     margin-top: 10px; */
    margin-top: 20px;
    padding: 3px 7px;
  }
  .brand_text {
    padding: 15px 0;
  }
  p.brand_title {
    padding-top: 10px;
    font-size: 15px;
    line-height: 1;
    width:80%;
  }
  h2.elements_header {
    font-size: 34px;
    padding: 20px 0;
  }
  img.elements_list_img {
    width: 60%;
  }
  .text_over_img_full_width {
	display:none;
  }
  p.side_content_main {
    padding-left: 10px;
    line-height: 36px;
    font-size: 26px;
  }
  .col-md-8.slide_txt {
    padding-left: 46px;
    line-height: unset;
  }
  p.slide_txt_content {
    font-size: 22px;
    padding-right: unset;
  }
  .section.brands {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  p.studio_list_text {
    padding-top: 30px;
    line-height: 1;
    font-size: 27px;
  }a.btn_learn {
    padding: 7px 20px 7px 20px;
    font-size: 25px;
    margin-top: 40px;
  }
  p.studio_txt_head {
    font-size: 34px;
    line-height:1;
    padding: 20px 10px;
  }
  img.studio_list_img {
    height: 20vh;
  }
  a.btn.hero__btn {
    padding: 12px 0;
    margin-top: 40px;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 9px;
  }
  a.healcode-link.py-2.px-2.header-book-session.healcode-contract-text-link.buy-now-button.site-nav__label {
  	min-width:100%;
  }
  h1.hero-main-title.mt-md-5.mt-1.mt-md-0.mega-title--large {
    line-height: 35px;
    /* font-family: auto; */
  }
  h1.content_main {
    padding: 5px 0 20px;
    font-size: 25px;
  }
  a.book_btn {
    padding: 7px 20px 7px 20px;
    font-size: 25px;
    margin-top: 40px;display: inline-block;
  }
  a.session_btn {
    padding: 7px 20px 7px 20px;
    font-size: 25px;
  }
  .slick-dots li a:before, .slick-dots li button:before {
  	top:-30px;
  }
  h2.slide_foot {
    font-size: 27px;
  }
  p.elements_txt {
    padding: unset;
    font-size: 27px;
    line-height: 1;
  }
  .row.pd-top {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .mobile-navigation {
    top: 0px
  }
  p.elements_list_text {
    padding-bottom: 60px;
    padding-top: 10px;
  }
  .row.pd-over {
    border-top: 2px solid #707070;
    margin-top: 50px;
    padding-top: 40px;
  }
  .col-md-12.slide_pb {
    padding-top: 30px;
    padding-bottom: 40px;
  }
/*   .mobile_carousel {
  	display:block;
  }
 */
  .text_over {
    padding: 0px 0px 25px 0px;
  }
  h2.text_over_head {
    /* font-size: 45px; */
    font-size: 34px;
    line-height:1;
    margin: 0 5px;
    text-align:center;
  }
  .d-flex {
    padding-left: unset;
  }
  .slider_main {
    height: 100%!important;
    width: 100%;
  }
  .footer-main.mx-md-2.mx-0.d-flex.justify-content-between.align-items-center.py-4.px-1.px-md-2 {
    display: block!important;
  }

  
  
}
@media only screen and (min-width: 2100px) and (max-width: 2560px) {
  
  .col-md-6.ds-flex {
    text-align: center;
  }
  .row_bottom {
    max-width: 1900px;
  }
  h1.hero-main-title.mt-md-5.mt-1.mt-md-0.mega-title--large {
      font-size: 65px!important;
      max-width: 100% !important;
  }
  img.brands_bg_main_mobile {
    display: none;
  }
  .custom_slider_Section .container {
    max-width: 2000px!important;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    color: #fff;
    font-size: 42px!important;
  }
  .site-header__icons-wrapper {
    margin-top: unset;
    margin: auto;
    margin-left: 30%;
    display: block;
  }
  .medium-up--one-quarter {
    width: 18%;
  }
  p.side_content_main {
    font-size: 45px;
  }
  h1.content_main {
    font-size: 65px;
  }
  .brand_section .container {
  	 max-width: 1700px;
  }
  a.session_btn {
    font-size: 42px;
  }
  .row_bottom {
    max-width: 1600px; 
  }
  h1.slide_header {
    font-size: 65px;
    
  }
  p.slide_content {
    font-size: 45px;
  }
  h2.slide_foot {
    font-size: 50px;
  }
  a.book_btn {
    font-size: 42px;
    padding: 8px 0px 8px 0px;
/*     max-width: 291px; */
    margin-top: 71px;
    display: inline-block;
  }
  .col-md-12.slide_pb {
    padding-bottom: 183px;
  }
  img.slide_main_wbp {
    width: 600px;
    height: 590px;
  }
  p.slide_txt_content {
    font-size: 50px;
  }
  h2.content_name {
    font-size: 45px;
  }
  p.studio_txt_head {
    font-size: 65px;
  }
  p.studio_txt_head {
    font-size: 65px;
    padding-top: 157px;
  }
  p.studio_list_text {
    font-size: 45px;
    padding-top: 89px;
  }
  a.btn_learn {
    font-size: 42px;
/*     max-width: 291px; */
    margin-top: 112px;
  }
  h2.elements_header {
    font-size: 65px;
  }
  p.elements_txt {
    font-size: 45px;
    padding-top: 50px;
  }
  p.elements_list_text {
    font-size: 40px;
    padding-top: 90px;
  }
  .container {
    max-width: 1648px;
  }
  a.btn_elements {
    font-size: 42px;
/*     max-width: 291px; */
    margin-top: 10px;
  }
  .brand_section .container {
    max-width: 2000px;
  }
  .text_over_img {
	display:none;
  }
  .text_over_img_full_width {
	display:block;
  }
  h2.text_over_head {
    font-size: 65px;
    margin-bottom: 84px;
  }
  p.text_over_address {
    font-size: 45px;
    line-height: 60px;
  }
  p.text_over_content {
    font-size: 45px;
    line-height: 60px;
  }
  .text_over {
    padding: 50px 128px 0 73px;
  }
  .brands_list {
/*     top: 10%; */
    left: -1%;
  }
  img.brand_logo {
    width: 45%;
  }
  p.brand_title {
    font-size: 50px;
    width: 60%;
    padding-top: 51px;
  }
  a.btn_brand {
  	font-size:42px;
    max-width:291px;
    margin-top:50px;
    padding:15px 45px;
  }
  .site-header__icons-wrapper a.navigation-link.mr-2.mr-lg-4 {
    font-size: 42px!important;
  }
  ul.nav-login-bar.d-flex.mt-4 {
    margin-top: 2.5rem!important;
  }
  .right_menu a.navigation-link.mr-2.mr-lg-4.nav-2 {
    font-size: 42px!important;
  }
  img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 230px!important;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .d-none.d-md-flex {
    position: relative;
    top: 30px;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .medium-up--one-quarter {
    width: 69%;
  }
  
}

@media only screen and (min-width: 1440px) and (max-width: 1440px) {
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .d-none.d-md-flex {
    top: -40px;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .grid--table>.grid__item {
    float: right;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .medium-up--one-quarter {
    width: 100%%;
  }
  img.text_over_img_main_full_width {
    display: none;
  }
  
}

@media only screen and (min-width: 1920px) and (max-width: 2099px) {

  h1.hero-main-title.mt-md-5.mt-1.mt-md-0.mega-title--large {
      font-size: 65px!important;
      max-width: 100% !important;
  }
  img.brands_bg_main_mobile {
    display: none;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    color: #fff;
    font-size: 42px!important;
  }
  .site-header__icons-wrapper {
    margin-top: unset;
  }
  .medium-up--one-quarter {
    width: 18%;
  }
  p.side_content_main {
    font-size: 45px;
  }
  h1.content_main {
    font-size: 65px;
  }
  .brand_section .container {
  	 max-width: 1700px;
  }
  a.session_btn {
    font-size: 42px;
  }
  .row_bottom {
    max-width: 1600px; 
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    font-size:42px!important;
  }
  h1.slide_header {
    font-size: 65px;
  }
  p.slide_content {
    font-size: 45px;
  }
  .custom_slider_Section .container {
    max-width: 1752px!important;
  }
  h2.slide_foot {
    font-size: 50px;
  }
  a.book_btn {
    font-size: 42px;
    padding: 8px 0px 8px 0px;
/*     max-width: 291px; */
    margin-top: 71px;
    display: inline-block;
  }
  .col-md-12.slide_pb {
    padding-bottom: 183px;
  }
  img.slide_main_wbp {
    width: 600px;
    height: 590px;
  }
  p.slide_txt_content {
    font-size: 50px;
  }
  h2.content_name {
    font-size: 45px;
  }
  img.studio_list_img {
    height: unset;
  }
  p.studio_txt_head {
    font-size: 65px;
  }
  p.studio_txt_head {
    font-size: 65px;
    padding-top: 157px;
  }
  p.studio_list_text {
    font-size: 45px;
    padding-top: 89px;
  }
  a.btn_learn {
    font-size: 42px;
/*     max-width: 291px; */
    margin-top: 112px;
  }
  h2.elements_header {
    font-size: 65px;
  }
  p.elements_txt {
    font-size: 45px;
    padding-top: 50px;
  }
  p.elements_list_text {
    font-size: 40px;
    padding-top: 90px;
  }
  .container {
    max-width: 1648px;
  }
  a.btn_elements {
    font-size: 42px;
/*     max-width: 291px; */
    margin-top: 10px;
  }
  .text_over_img {
	display:none;
  }
  .text_over_img_full_width {
	display:block;
  }
  h2.text_over_head {
    font-size: 65px;
    margin-bottom: 84px;
  }
  p.text_over_address {
    font-size: 45px;
    line-height: 1;
  }
  p.text_over_content {
    font-size: 45px;
    line-height: 60px;
  }
  .text_over {
    padding: 94px 70px 0 73px;
  }
  .brands_list {
/*     top: 10%; */
    left: -1%;
  }
  img.brand_logo {
    width: 45%;
  }
  p.brand_title {
    font-size: 50px;
    width: 60%;
    padding-top: 51px;
  }
  a.btn_brand {
  	font-size:42px;
    max-width:291px;
    margin-top:50px;
    padding:15px 45px;
  }
  .site-header__icons-wrapper a.navigation-link.mr-2.mr-lg-4 {
    font-size: 42px!important;
  }
  ul.nav-login-bar.d-flex.mt-4 {
    margin-top: 2.5rem!important;
  }
  .right_menu a.navigation-link.mr-2.mr-lg-4.nav-2 {
    font-size: 42px!important;
  }
  img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 230px!important;
  } 
  /* header.d-none.d-md-flex.site-header.border-bottom.logo--left .d-none.d-md-flex {
    position: relative;
    top: 30px;
  } */
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .medium-up--one-quarter {
    width: 69%;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1600px){
  ul.nav-login-bar.d-flex.mt-4 {
    margin-top: 1.5rem!important;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .d-none.d-md-flex {
    top: 45px;
  }
  
}



@media only screen and (min-width: 1600px) and (max-width: 2560px){
  .custom_image_Section .container{
/*   	max-width: 1648px; */
  }
  .custom_slider_Section .container{
  	max-width: 1500px;
  }
  .brands_bg_main {
  	width: 100%;
  }
  .banner_custom_Section .page-width.text-center{
  	max-width: 100%;
  }
  img.text_over_img_main_full_width {
    padding: 30px;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .site-header__mobile-nav {
    display: flex;
  }
  .site-header__logo {
    margin: auto;
  }
  header.d-none.d-md-flex.site-header.border-bottom.logo--left .medium-up--one-quarter {
    width: 69%;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1600px){
  	.custom_image_Section .container{
        max-width: 1140px;
      }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px){
  .text_over {
  	padding: 0px 47px 0 73px;
  }
  .row.pd-over {
  	align-items: center;
  }
  h1.side_header {
  	padding-right: 27px;
  }
  .text_over_img_full_width {
	display:none;
  }
  p.brand_title {
    width: 70%;
  }
  .brand_text {
    padding: 15px 0;
  }
  .brands_list {
/*     top: 5%; */
  }
  
}
@media only screen and (min-width: 320px) and (max-width: 320px){
	.banner_custom_Section .d-flex {
      flex-direction: column;
  }
  .mobile-navigation {
    top: 0px;
  }
  a.healcode-link.py-2.px-2.header-book-session.healcode-contract-text-link.buy-now-button.site-nav__label {
    margin-top: 40px;
    margin-left: 40px;
    max-width: 75%;
    padding: 11px 11px!important;
    min-width: unset;
  }
  .banner_custom_Section .d-flex a.btn.hero__btn:nth-child(2) {
    margin-top: 10px;
  }
  p.brand_title {
  	width: 73%;
  }
  .brands_list {
/*   	top: 4%; */
    left: -3%;
  }
  p.brand_title {
  	font-size:12px;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .brands_list {
/*     top:12%; */
}
  a.btn_brand {
    font-size: 20px;
    max-width: 120px;
    padding: 6px 12px;
}
  .text_over {
    padding: 10px 26px 0 10px;
  }
  img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 70%!important;
  }
  .medium-up--one-quarter {
    width: 25%;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    font-size: 18px!important;
  }
  img.brand_logo {
    width: 45%;
  }
  p.brand_title {
    padding-top: 20px;
    font-size: 25px;
  }
  .grid__item.medium-up--one-quarter.logo-align--left .d-none.d-md-flex {
    margin-left: unset;
  }
  .site-header__icons-wrapper {
    margin-top: -8px;
  }
  .site-header__icons-wrapper a.navigation-link.mr-2.mr-lg-4 {
    font-size: 22px!important;
    padding-right: 2px!important;
  }
  .right_menu a.navigation-link.mr-2.mr-lg-4.nav-2 {
    font-size: 22px!important;
  }
  ul.nav-login-bar.d-flex.mt-4 {
    margin-top: 2.5rem!important;
  }
  p.elements_list_text {
    font-size: 27px;
    line-height: 1;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    font-size: 22px!important;
    color:#fff!important;
  }
  
}
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .text_over {
    padding: 61px 0px 0 73px;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    font-size: 30px !important;
    padding-left: unset;
    line-height:1;
  }
  .brands_list {
/*   	top:6%; */
  }
  .brand_text {
    padding: 20px 0;
  }
  p.brand_title {
  	padding:10px;
    width:65%;
  }
  
  img.brand_logo {
      width: 45%;
  }
  a.btn_brand {
  	margin-top:30px;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    font-size: 22px!important;
    line-height: 1;
  }
}


header.d-none.d-md-flex.site-header.border-bottom.logo--left::before {
    background: linear-gradient( 180deg ,#6288ab,#5c82a5 10%,rgb(92 130 165) 50%,rgba(255,80,45,.1) 80%,rgba(255,80,45,0));
    transition: all .3s ease-in-out;
    width: 100%;
    height: 140px;
    content: "";
    position: absolute;
  	transform: translateY(-140px);
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
}
h1.h2.site-header__logo a:nth-child(2) {
    display: none;
}

header.d-none.d-md-flex.site-header.border-bottom.logo--left.ps-fixed2 {
    position: fixed;
    z-index: 9;
    transition: all .3s ease-in-out;
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left.ps-fixed2::before {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left.ps-fixed2 {
    margin-top: -15px;
  	width: 100%;
}
h2.newsletter-title {
    font-family: 'OrpheusPro';
}
.rte.newsletter-subtitle p {
    font-family: 'MrEavesModOT-Book';
}
.Row__FormRow-sc-1avh9u7-1 div:nth-child(2) {
    display: none;
}
.Column__FormColumn-sc-1rrm03f-2 div:nth-child(3) button {
    width: 75%;
    margin-left: auto;
}
.Column__FormColumn-sc-1rrm03f-2 div:nth-child(1) {
    width: 75%;
    margin: auto;
}

/* page appointment */

.appointment-header {
    font-family: 'OrpheusPro';
    font-size: 70px;
    font-weight: normal;
    color: #707070;
}
p.text-center.text-uppercase.appointment-subheader.mb-4 {
    font-family: MrEavesModOT-Book;
    color: #707070;
    text-transform: inherit!important;
    font-size: 30px;
  letter-spacing: -1px;
    font-weight: normal;
}
p.text-center.appointment-subsubheader.mb-2 {
    font-family: MrEavesModOT-Book;
    color: #707070;
    font-size: 25px;
    line-height: 1.3;
}


/* end */

/* Custom header 

a.navigation-link.mr-2.mr-lg-4 {
    font-family: 'MrEavesModOT-Book';
    text-transform: capitalize;
  	font-size: 30px!important;
}
.medium-up--one-quarter {
    width: 15%;
}
.site-header__icons-wrapper {
    margin-left: auto;
    display: block;
  	margin-top: -27px;
}
span.site-nav__label {
    color: #fff;
}
a.navigation-link.mr-2.mr-lg-4 {
    color: #fff;
    padding-right: 7px;
}
.text_over_img_full_width {
	display:none;
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left .grid--table>.grid__item {
    float: none;
    display: flex;
}
.site-header__icons-wrapper a.navigation-link.mr-2.mr-lg-4 {
    font-size: 30px!important;
  	font-family:'MrEavesModOT-Book';
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left .medium-up--one-quarter {
    width: 100%;
}
/* .grid__item.medium-up--one-quarter.logo-align--left .d-none.d-md-flex {
    margin-left: 54px;
} 
.right_menu {
    margin-left: auto;
    display: flex;
}
.right_menu a.navigation-link.mr-2.mr-lg-4.nav-2 {
    font-size: 30px!important;
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left .d-flex {
    background-color: transparent;
    z-index: 999;
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left .d-none.d-md-flex {
    position: relative;
    top: -25px;
}
.grid--no-gutters .grid__item {
    padding-left: unset!important;
}

/* end */


/* my new header */

header.d-none.d-md-flex.site-header.logo--center {
    padding-top: unset;
}
.grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
    left: 10%;
}
a.navigation-link.mr-2.mr-lg-4 {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px!important;
  	padding: unset!important;
}


/* end header css */


/* sticky nav */

header.d-none.d-md-flex.site-header.logo--center.ps-fixed2 {
    position: fixed;
    z-index: 9;
    transition: all .3s ease-in-out;
  	width:100%;
}
header.d-none.d-md-flex.site-header.border-bottom.logo--left.ps-fixed2 {
    margin-top: -15px;
  	width: 100%;
}
header.d-none.d-md-flex.site-header.logo--center:before {
    background: linear-gradient( 
180deg ,#6288ab,#5c82a5 10%,rgb(92 130 165) 50%,rgba(0,0,100,.1) 80%,rgba(255,80,45,0));
    width: 100%;
    height: 200px;
    content: "";
    position: absolute;
    transform: translateY(-140px);
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
}
.newsletter-section {
	padding:80px 0;
}
header.d-none.d-md-flex.site-header.logo--center.ps-fixed2:before {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
a.navigation-link.mr-2.mr-lg-4:hover {
    text-decoration: none;
    color: #fff!important;
}

/* end css */

.footer-container .footer-main a {
    font-size: 22px;
}
.footer-container .footer-main div {
    font-size: 22px;
}
img.text_over_img_main_full_width {
    display: none;
}
/* .footer-main.mx-md-2.mx-0.d-flex.justify-content-between.align-items-center.py-4.px-1.px-md-2 {
    display: flex!important;
} */

@media only screen and (min-width: 1200px) {

 .container.mx-width {
    max-width: 900px;
} 
  
}
@media only screen and (min-width: 1920px) and (max-width: 2560px) {

  header.d-none.d-md-flex.site-header.logo--center:before {
  	height:200px!important;
  }
  img.text_over_img_main {
    display: none;
  }
  .grid__item.medium-up--one-third.medium-up--push-one-third.logo-align--center {
    left: 12%;
  }
  img.text_over_img_main_full_width {
    display: block;
  }
  img.temp_img_main {
    width: 100%;
  }
  .container.mx-width {
    max-width: 1000px;
  }
  video#background-video {
    height: 720px;
  }

}

video#background-video {
    width: 100%;
    height: 720px;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}
.hero__inner {
	z-index: 9999;
}
.d-none.d-md-flex.first-flex .site-header__icons-wrapper {
    justify-content: flex-start;
}
.site-header__icons-wrapper ul.d-flex.mt-1 {
    margin-top: 1.25rem!important; 
}

.ps-fixed2 .site-header__icons-wrapper ul.d-flex.mt-1 {
    margin-top: 0.40rem!important;
}

@media only screen and (min-width:360px) and (max-width:640px) {
  video#background-video {
  	height: 83vh;
  }
}

@media only screen and  (max-width:767px) {

  video#background-video {
  	height: 527px;
    position:absolute;
    z-index: 1;
  }
  .hero__inner {
      z-index: 2;
  }
  
  button.btn.dropdown-toggle.mobile-menu-toggle.py-4.px-4{padding: 14px 8px !important;}
  .logo_header.d-flex {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  video#background-video {
  	height: 94vh;
    position:absolute;
  }
  healcode-widget.widget_login_btn {
    line-height: 1;
  }
}

@media only screen and (min-width:770px) and (max-width:1023px) {


  ul#SiteNav {
  	line-height: 1;
  }

}


.footer-main.mx-md-2.mx-0.d-flex.justify-content-between.align-items-center.py-4.px-1.px-md-2 div {
    padding-bottom: 15px;
}


img.brands_bg_main_mobile {
    display: none;
}

h2.text-center.pricing-header.mt-5.mb-2 {
    font-family: 'OrpheusPro' !important;
    /* font-size: 45px !important; */
    font-size: 45px;
    color: #707070
}
.text-center.instagram-subtitle.mb-3 a {
    font-size: 22px;
    color: #707070;
}
.text-center.instagram-subtitle.mb-3 {
    font-size: 42px!important;
  	margin-bottom:0!important;
    font-family: 'MrEavesModOT-Book'!important;
}
healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    font-family: 'MrEavesModOT-Book'!important;
    font-size: 30px!important;
    color: #fff!important;
  	text-transform: capitalize;
}

@media only screen and (min-width: 1920px) and (max-width: 2099px) {
  
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
       font-size:42px!important;
  }
  
}

@media only screen and (min-width: 2100px) and (max-width: 2560px) {
  
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
       font-size:42px!important;
  }
  
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  video#background-video {
  	height: 71vh;
    position:absolute;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    font-size:25px!important;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 

  img.elements_list_img {
    width: 75%;
    height: 12vh;
  }
  .section.brands {
    padding-top: 79px;
    padding-bottom: 60px;
  }
  .row.pd-top {
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .row.pd-over {
    padding-top: 70px;
  }
  video#background-video {
    height: 720px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 900px)  {

  a.navigation-link.mr-2.mr-lg-4 {
  	font-size: 18px!important;
    line-height: 3;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
  	font-size: 18px!important;
    line-height: 3;
  }
  h1.hero-main-title.mt-md-5.mt-1.mt-md-0.mega-title--large {
    font-size: 42px;
    line-height: 1;
  }
  a.btn.hero__btn {
  	margin-top:50px;
  }
  h1.side_header {
    font-size: 40px;
    padding-left: 0;
    padding-right: 0;
  }
  p.side_content_main {
    line-height: 1;
    font-size: 25px;
  }
  .row.pd-top {
    padding-top: 90px;
    padding-bottom: 50px;
  }
  h1.content_main {
    font-size: 30px;
    padding: 10px;
  }
  .col-md-12.slide_pd {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .col-md-12.slide_pb {
    padding-top: 0;
    padding-bottom: 30px;
  }
  p.slide_txt_content {
    font-size: 26px;
    line-height: 1;
  }
  .slide_txt_content {
    font-size: 26px;
    line-height: 1;
  }
  img.studio_list_img {
    height: 15vh;
  }
  p.studio_list_text {
    padding-top: 20px;
    font-size: 20px;
  }
  a.btn_learn {
    margin-top: 30px;
    padding: 4px 20px;
/*     max-width: 150px; */
    font-size: 25px;
  }
  .brand_text {
    padding: 10px;
  }
  .section.brands {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  p.brand_title {
    width: 90%;
    padding-top: 20px;
    font-size: 28px;
  }
  img.elements_list_img {
    width: 75%;
    height: 18vh;
  }
  p.elements_list_text {
    font-size: 20px;
    padding-top: 20px;
  }
  a.btn_elements {
    font-size: 25px;
    padding: 4px 20px;
/*     max-width: 150px; */
  }
  h2.text_over_head {
    font-size: 40px;
  }
  .text_over {
    padding: 0;
  }
  p.text_over_address {
    font-size: 23px;
    line-height: 1;
  }
  p.text_over_content {
    font-size: 23px;
    line-height: 1;
  }
  img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 120px!important;
  }
  .container.mx-width .row.pd-top {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  h2.text-center.pricing-header.mt-5.mb-2 {
    font-size: 42px;
  }
  .text-center.instagram-subtitle.mb-3 {
    font-size: 30px!important;
  }

}

@media only screen and (min-width: 901px) and (max-width: 1023px)  {
  
  a.navigation-link.mr-2.mr-lg-4 {
    font-size: 22px!important;
    line-height: 3;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    font-size: 22px!important;
    line-height: 3;
  }
  h1.side_header {
    font-size: 42px;
    padding-left: 0;
    padding-right: 0;
  }
  p.side_content_main {
    line-height: 1;
    font-size: 27px;
  }
  .row.pd-top {
    padding-bottom: 55px;
  }
  h1.content_main {
    font-size: 35px;
    padding: 10px;
  }
  .col-md-12.slide_pd {
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .col-md-12.slide_pb {
    padding-top: 0;
    padding-bottom: 30px;
  }
  p.studio_txt_head {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  p.studio_list_text {
    font-size: 20px;
    padding-top: 30px;
  }
  a.btn_learn {
    font-size: 24px;
/*     max-width: 170px; */
    padding: 6px 25px;
    margin-top: 40px;
  }
  .section.brands {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .brand_text {
    padding: 15px;
  }
  .section.brands {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  p.brand_title {
    width: 90%;
    padding-top: 20px;
    font-size: 32px;
  }
  .container.mx-width .row.pd-top {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  img.elements_list_img {
    height: 18vh;
  }
  p.elements_list_text {
    font-size: 20px;
    padding-top: 30px;
  }
  a.btn_elements {
      font-size: 25px;
/*       max-width: 170px; */
      padding: 6px 25px;
      margin-top: 0;
  }
  h2.text_over_head {
    font-size: 40px;
  }
  .text_over {
    padding: 0;
  }
  p.text_over_address {
    font-size: 26px;
    line-height: 1;
  }
  p.text_over_content {
    font-size: 26px;
  }
  h2.text-center.pricing-header.mt-5.mb-2 {
    font-size: 45px;
  }
  .text-center.instagram-subtitle.mb-3 {
    font-size: 32px!important;
  }
  
}

.covid-guidelines header.d-none.d-md-flex.site-header.logo--center:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.covid-guidelines header.d-none.d-md-flex.site-header.logo--center {
    position: fixed;
    z-index: 9;
    transition: all .3s ease-in-out;
    width: 100%;
}
.covid-guidelines .site-header__icons-wrapper ul.d-flex.mt-1 {
    margin-top: .4rem!important;
}
.video_mobile {
    display: none;
}
.video_desktop {
	display:block;
}

body.template-page.terms-and-conditions a.navigation-link:hover, body.template-page.privacy-policy a.navigation-link:hover, body.template-page.studio-policy a.navigation-link:hover {
    color: #000 !important;
}
body.template-page.terms-and-conditions .ps-fixed2 li a, body.template-page.privacy-policy .ps-fixed2 li a, body.template-page.studio-policy .ps-fixed2 li a {
    color: #fff !important;
}
body.template-page.terms-and-conditions .ps-fixed2 li a:hover, body.template-page.privacy-policy .ps-fixed2 li a:hover, body.template-page.studio-policy .ps-fixed2 li a:hover {
    color: #000 !important;
}
body.template-page.terms-and-conditions .ps-fixed2 .h2.site-header__logo a:nth-child(2) img, body.template-page.privacy-policy .ps-fixed2 .h2.site-header__logo a:nth-child(2) img, body.template-page.studio-policy .ps-fixed2 .h2.site-header__logo a:nth-child(2) img{
	display: none !important;
}
body.template-page.terms-and-conditions .ps-fixed2 .h2.site-header__logo a:nth-child(1) img, body.template-page.privacy-policy .ps-fixed2 .h2.site-header__logo a:nth-child(1) img, body.template-page.studio-policy .ps-fixed2 .h2.site-header__logo a:nth-child(1) img{
	display: block !important;
}

@media only screen and (max-width:768px) {

  .video_mobile {
  	display:block;
  }
  .video_desktop {
  	display:none;
  }

}

body.session .session_description p:nth-child(3) {
    margin-bottom: 10px;
}

@media screen and (min-width: 1600px){
  video#background-video {
    height: 720px;
  }
}
@media screen and (min-width: 769px){
  body{
    zoom: 85%;
  }
}
@media screen and (max-width: 768px){
    .col-md-4 .elements_list .el_imgs, .col-md-3 .studio_list .st_img {
      min-height: unset;
  }
  p.elements_list_text{
  	padding-bottom: 25px
  }
  p.studio_list_text{
  	padding-top: 25px;
    padding-bottom: 15px;
  }
  .section.brands.el_con, .section.zm-out{
  	zoom: 80%;
  }
  body{
    zoom: 95%;
  }
  .slide_txt p.slide_txt_content {
      margin-top: 25px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1200px){
  .hero--x-large {
      height: 830px !important;
  }
  body.template-index .shopify-section.banner_custom_Section, body.template-index .shopify-section.banner_custom_Section .hero{
  	height: 775px !important;
  }
}

body.template--page-classes .non-homepage-container {
  min-height: 650px !important;
}

@media (max-width: 750px) {
  body.template--page-session #shopify-section-image_block_section .btn_session {
    margin-bottom: 15px;
  }
  
  body.template--page-session #shopify-section-image_block_section .row.img_text_block {
    /* margin-top: 15px; */
  }
  	
  body.template--page-Become_member #shopify-section-image_flex_section .flex_padding {
    padding-top: 0px !important;
  }
  
  body.template--page-Become_member #shopify-section-image_flex_section .flex_padding > .row {
    /* padding-top: 15px; */
    padding-top: 40px;
  }
  
  body.template--page-Become_member #shopify-section-image_flex_section .flex_temp {
    /* margin-top: 15px;
    margin-bottom: 15px; */
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  body.template--page-Become_member #shopify-section-image_flex_section .flex_image {
    margin-top: 15px;
  }
  
  body.template--page-classes .non-homepage-container {
    margin-bottom: 100px !important;
  	min-height: auto !important;
  }
  
  body.template-index .temp_r_content {
    margin-top: 15px;
  }
  
}

/* 7-10-21 */


@media only screen and (max-width:768px){
  
  .pd-top .side_heading {
    width: 250px;
    padding-bottom:20px;
    }
   
  h1.side_header {
    line-height:1.2;
  }
  
  p.side_content_main {
    line-height: 1.2 !important;
  }
  
  p.studio_txt_head {
    padding: 40px 20px 10px;
    
  }
 
  .brands_tamp .brands_bg {
    width: 100%;
  }
  
  .brands_bg_main_mobile{
    width: 100%;
  }
  
  .brands_list{
    width:100%;text-align: center;
  }
  
  h2.elements_header {
    padding: 40px 20px 0px !important;
    line-height: 1.2 !important;
  }
  
}




/* END  7-10-21 */ 

/* 13-10-21 */

.row.pd-top {
    padding-top: 40px !important;
    padding-bottom: 60px !important;
}

h1.content_main {
    padding: 25px 0 40px !important;
}

img.next_Arrow_black.slick-arrow {
    height: 80px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 2%;
  filter: invert(1);
cursor: pointer;
}
.site-header__mobile-nav {
    padding-top: 20px;
}

.row.img_text_block {
    padding-top: 150px !important;
}

h2.end_head {
    padding-bottom:0px !important;
}

.newsletter-title {
    font-size: 65px !important;
    letter-spacing: unset !important;
    color: #373A36;
    padding-bottom: 20px;
}

 .rte.newsletter-subtitle p {
    font-size: 45px !important;
} 

a.session_btn {
    margin-top: 0px;
}

#shopify-section-footer {
/*     margin-top:5%; */
    background: linear-gradient(180deg ,#6288ab,#5c82a5 60%,rgb(92 130 165) 25%,rgba(0,0,100,.1) 100%,rgba(255,80,45,0)) !important;}

img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    padding-top: 10px;
}
.footer-container {
	color: #fff !important;
}
.footer-main a {
	color: #fff;
}

  img.session_banner_image {
    width: 100%;
    max-height:715px !important;
  }
 img.bm_banner_image {
    max-height: 715px;
}

.img_with_text_for_mobile{
   display:none;
   }
/* .texte_for_mobile p {
    line-height: 0.7;
} */

.texte_for_mobile {
    margin-top: 15px;
    padding: 0 15px;
}

.for_first_button{
    
  }

 .image_flex .container.flex_padding .row.align-items-center:nth-child(1) .drop-down.for_first_button {
    display: none;
}

.hamburger-icon {
    height: 17px !important;
}

 .mobile-logo{
    height: 100%;
    width: 100%;
    max-width: 130px;
}
 
@media (min-width: 768px) {
  img.logo_for_mobile {
    display: none !important;
  }
  body.template-page.privacy-policy .ps-fixed2 .h2.site-header__logo a:nth-child(1) img.logo_for_mobile {
    display: none !important;
  }
}


/* END 13-10-21 */ 

/* Media quaries 13-10-21 */


@media only screen and (max-width:767px){
  .bfAJHs.bfAJHs {
	width: 100% !important;
}
 
  img.logo_for_mobile {
    display: block;
}
  
  .logo_desktop{
    display:none;
  }
  
 .for_first_button{
    margin: 10px 0;
  }
  
  .img_flex_options {
    margin-top: -10px !important;
}
  
}



@media only screen and (max-width:900px){
  
  a.bnt_2_b {
    margin-top: 25px !important;
   }
  
/*   .for_first_button{
    display:block;
  } */
  
  .img_with_text_for_mobile{
   display:block;
   }
    
   .img_with_text_for_desktop{
   display:none;
   }
  
  .next_Arrow_black.slick-arrow {
    display:none !important;
  }
  
 .banner_custom_Section .d-flex {
    flex-direction:column;
    align-items: center;
  }
  .bnt_2_bnt1 {
    margin-top: 10px !important;
 }
  
  .pd-top .side_heading {
    margin:auto;
  }
  
  .studio_list .st_img img {
    height: 12vh !important;
}
 .elements_list img.elements_list_img {
    height: 13vh !important;
  }
  
  .newsletter-title {
    font-size: 35px !important;
    padding-bottom:0px !important;
}
  
  h2.contact_head {
    padding-bottom:unset !important;
  }
  
   .rte.newsletter-subtitle p {
    font-size: 25px !important;
} 
  p.banner_text_content {
    padding-top: 8px!important;
  
}
  
p.bm_text_content {
    padding-top:10px !important;
}

.section_membership .row.img_text_block {
    padding-top: 20px!important;
}
  
 .row.img_text_block {
    padding-top: 40px!important;
  }  
  
.membership_description {
    padding-top: 14px !important;
}
  
 
  
 .session_description p:nth-child(1) { 
    padding-top:14px;
  } 
  
  .session_description{
    margin-bottom:5px !important;
  }
  
  .text_block .session_description {
    padding-bottom: 0px !important;
}
  
}

/* END 13-10-21 */

/* 19-10-21 */

img.hamburger_img_png {
    width: 50px;
}
video#background-video {
/*     height: 775px; */
}
@media only screen and (max-width:768px){
  #shopify-section-newsletter_2 .rte.newsletter-subtitle p {
    line-height:1;
/*   }
  .rte.newsletter-subtitle p {
   font-size:25px !important;
  } */
}

@media screen and (min-device-width:901px) and (max-device-width:1023px){
   .section-header .rte.newsletter-subtitle p {
   font-size:30px !important;
   line-height:1;
  }
}

/* @media screen and (min-device-width:1023px) and (max-device-width:1919px){
   .rte.newsletter-subtitle p {
   font-size:25px !important;
    line-height:1;
   }
} */
@media (width:1200px) {
div#shopify-section-163169227498bd7acf .hero--x-large {
	height: 760px !important;
}
}
@media screen and (min-device-width:750px) and (max-device-width:767px){
  #shopify-section-newsletter_2 .rte.newsletter-subtitle p {
    font-size:22px;
  }
}
  
  @media screen and (min-width: 750px) and (max-width: 1200px){
  .hero--x-large {
    height: 582px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.hero--x-large {
      height: 775px !important;
    }
}
@media screen and (min-width: 751px) and (max-width: 1199px){
  video#background-video {
/*     height: 775px; */
  }
}
  @media screen and (min-width: 1200px){
    video#background-video{
/*     	height: 775px !importnat */
    }
  }
  @media screen and (min-width: 750px) and (max-width: 768px){
    body.template-index .shopify-section.banner_custom_Section, body.template-index .shopify-section.banner_custom_Section .hero{
      height: 775px !important
    }
    video#background-video{
/*       height: 527px !important */
    }
  }
  @media screen and (min-width: 1600px) and (max-width: 2560px){
    video#background-video {
      height: 720px;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 767px){
    video#background-video {
      height: 720px;
    }
  }
/* End 19-10-21 */
  
  
 
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
.section.brands .brands_tamp .brands_list {
/*     top: 10%; */
    left: 2%;
    max-width: 50%;
}
 .section.brands a.btn_brand {
    max-width: 50%;
}
 .section.brands .brands_bg img.brands_bg_main_mobile {
    display: block;
    max-height: 650px;
}
 .banner_session .banner_text_content {
    max-width: 300px;
    font-size: 21px;
  }
  .banner_session h2.banner_text_head {
    font-size: 32px;
  }
 .banner_session .banner_text {
    max-width: 100%;
  }
  .d-none.d-md-flex .customer_list .healcode-link.healcode-login-register-text-link {
    color: #fff !important; 
  }
  .video2 .video_mobile {
    object-fit: none !important;
}
 .hero__inner .d-flex {
    display: block !important;
}
 .hero__inner .d-flex a.btn.hero__btn {
     margin-top: 70px !important; 
  }
  .hero__inner h1.hero-main-title.mt-md-5.mt-1.mt-md-0.mega-title--large {
     line-height: 60px; 
  }
  .shopify-section.storage_section .storage_add {
    padding: 50px 0 30px 0;
}
}
  
@media screen and (max-width: 768px)
	.brands_list {top: 50% !important;}
}
@media only screen and  (max-width:767px) {
  .section.brands .brands_bg img.brands_bg_main_mobile {
    height: 550px;
}
}
  
  .appointment-widget-container {max-width:100%;}
  
.needsclick.kl-private-reset-css-Xuajs1 {
    flex-direction: unset !important;
}
[data-testid="form-row"].needsclick.kl-private-reset-css-Xuajs1 {
    width: 50%;
}
.bw-widget th.bw-calendar__heading,
.bw-widget td.bw-calendar__day {font-size:22px !important;}
.bw-widget--medium .bw-empty__title {font-size:26px !important;}
.bw-calendar__day.bw-calendar__day--current span {height: 30px;width:30px;}
.bw-widget--medium .bw-header__account-link, .bw-widget--medium .bw-header__title, .bw-widget--medium .bw-fullcal-button, .bw-widget--medium .bw-empty__title, .bw-widget--medium .bw-empty__subtext, .bw-widget.bw-widget--medium button.bw-widget__cta, .bw-widget--medium .bw-empty__clear {
    font-size: 26px !important;
}



/* changes */

.template--page-classes2 .bw-widget--medium .bw-session__time {
	font-size: 26px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.9);
    font-style: normal;
    font-weight: 600;
}
.template--page-classes2 .bw-widget--medium .bw-session__description {
	font-size: 26px;
  	line-height: 26px;
}
.template--page-classes2 .bw-widget--medium .bw-session__full-title {
	font-size: 26px;
  	line-height: 26px;
}
body.template-page.class-schedule.template--page-classes2 .bw-session__expanded {
    margin-top: 6px;
}
.template--page-classes2 .bw-widget--medium .bw-session__name {
	font-size: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}
.template--page-classes2 .bw-widget--medium .bw-session__staff {
	font-size: 22px;
  	line-height: 20px;
}
.template--page-classes2 .bw-widget--medium .bw-session__detail-link {
	font-size: 24px;
  	line-height: 20px;
}
.template--page-classes2 .bw-checkbox__label {
	font-size: 20px;
}
.template--page-classes2 .bw-widget--medium .bw-select {
	padding: 6px 32px;
  	font-size: 20px;
}
.template--page-classes2 .bw-filters__reset {
	font-size: 26px;
  	line-height: 20px;
}
html.js {
    padding-bottom: 0 !important;
} 
.template--page-classes2 .bw-widget--medium .bw-widget__date {
	font-size: 20px;
}
.needsclick.kl-private-reset-css-Xuajs1 button {
    background: #5c82a5 !important;
  	border-color: #5c82a5 !important;
}

@media screen and (max-width:767px) {
	.appointment-header {font-size: 30px;}
  p.text-center.text-uppercase.appointment-subheader.mb-4 {font-size: 21px;line-height:initial;}
  
  .container.section_membership .membership_img {
    display: none;
}
  img.membership_img_main
  {
   padding-inline:unset!important
  }
  .container.section_membership .row.img_text_block {
    display: flex;
    flex-direction: column-reverse;
}
  div#shopify-section-storage_section {
    padding-top: 30px;
}
  .membership_description {
    font-family: 'MrEavesModOT-Book'!important;
}
  .ul_list_section.ul_list_section_membership {
    font-family: 'MrEavesModOT-Book'!important;
}
  ul.list_style_ul
  {
    font-family: 'MrEavesModOT-Book'!important;
  }
  .flex_text p.flex_content {
    font-family: 'MrEavesModOT-Book'!important;
}
}
.bw-widget th.bw-calendar__heading{
	padding-bottom: 15px
}
.bw-widget td.bw-calendar__day{
	padding: 15px 0
}
@media screen and (min-width:768px)
{
  .container.section_membership .membership_img_mob
  {
   display:none;
  }
}
@media screen and (max-width:575px) {
.container.section_membership .row.img_text_block .col-md-6 {padding: 0px;}
  .container.section_membership .row.img_text_block .col-md-6 .text_block {padding-left: 30px;}
  .container.section_membership .row.img_text_block .col-md-6 .membership_img_mob {
    margin-bottom: 20px;}
  .container.section_membership .row.img_text_block .col-md-6 .membership_img_mob img.membership_img_main {padding-bottom:0px;}
}


/* Locations page */

body.template--page-locations #shopify-section-location_banner_section * {
  color: #FFF !important;
}

body.template--page-locations .section-image-grid {
  padding-top: 30px;
}
body.template--page-locations .section-image-grid .row_bottom {
  display: none;
}

body.template--page-locations .section-image-grid .temp_r_content h1 {
  padding-bottom: 0px !important;
}

body.template--page-locations .section-image-grid .temp_r_content .subtitle {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  body.template--page-locations .section-image-grid .temp_r_content .subtitle {
    font-size: 22px;
  }
  body.template--page-locations .section-image-grid .temp_r_content .subtitle {
    margin-bottom: 15px;
  }
  body.template--page-locations .section-image-grid .temp_r_content {
    margin-bottom: 50px !important;
  }
}

body.template--page-locations .section-image-grid .temp_r_content {
  margin-bottom: 80px;
  margin-top: 15px;
}

body.template--page-locations .section-image-grid .temp_r_content a {
  width: fit-content;
}



body.template--page-locations #shopify-section-logo-bar .logo-bar-title {
  border-bottom: 1px solid #9d9d9d;
  color: #707070;
  font-family: 'OrpheusPro';
  font-size: 65px;
  letter-spacing: 0px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  body.template--page-locations #shopify-section-logo-bar .page-width {
    margin-top: 0px !important;
  }
  body.template--page-locations #shopify-section-logo-bar .logo-bar-title {
    font-size: 35px;
  }
  body.template--page-locations #shopify-section-logo-bar .logo-item {
    width: 50%;
  }
}


body.template--page-locations .shopify-section.image_text_block {
  margin-bottom: 90px;
}

body.template--page-locations .shopify-section.image_text_block .session_description p {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  body.template--page-locations .shopify-section.image_text_block {
    margin-bottom: 60px;
  }

  body.template--page-locations .shopify-section.image_text_block .text_block {
    margin-bottom: 15px;
    padding-right: 0px;
  }

  body.template--page-locations .shopify-section.image_text_block .text_block .session_heading h2 {
    text-align: center;
  }
}


@media (min-width: 768px) {

   
  body.template-index .newsletter-section.index-section--newsletter-background .needsclick.kl-private-reset-css-Xuajs1 button {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  body.template-index .newsletter-section.index-section--newsletter-background input.needsclick {
    font-size: 20px !important;
    height: 50px !important;
    min-width: 100%;
    text-align: center !important;
  }

  body.template-index .newsletter-section.index-section--newsletter-background input.needsclick::placeholder {
    font-size: 20px !important;
  }
}


body.for-tenants .tenant-invitation {
  margin-top: 150px;
}

@media (max-width: 750px) {
  body.for-tenants .tenant-invitation {
    margin-top: 50px;
  }
}

.appointment-subselect {
      font-family: MrEavesModOT-Book;
    color: #707070;
    font-size: 25px;
    line-height: 1.3;
}