`<style>
  
  .banner_bm {
    position: relative;
  }
  .bm_banner_text {
    position: absolute;
    top: 44% !important;
    text-align: center;
    left: unset !important;
    width:100%;
  }
  h2.bm_text_head {
    font-size: 46px;
    font-family: 'OrpheusPro';
    margin-bottom: 0;
    color: #444;
    font-weight: normal;
  }
  p.bm_text_content {
    font-size: 30px;
    line-height: 34px;
    color: #444;
  }
  h2.membership_head {
    font-size: 48px;
    letter-spacing: 0px;
    color: #707070;
    font-family: 'OrpheusPro';
    opacity: 1;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    .membership_head {
      font-size: 30px !important;
    }
  }
  span.membership_price {
    font-size: 30px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .membership_description {
    font-size: 28px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: left;
    line-height: 1;
  }
  .list_items_membership {
    font-size: 28px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: left;
  }
  .text_block {
    padding-left: 60px;
  }
/*   li.list_item {
    list-style-type: disc;
    line-height: 31px;
  }
  li.list_item2 {
    list-style-type: disc;
  } */
  ul.list_items_session li {
      list-style-type: disc!important
  }
  .ul_list_section {
    padding-left: 28px;
    padding-top: 25px;
  }
  .membership_heading {
    padding-bottom: 5px;
  }
  a.btn_membership {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: block;
    margin-left: 50px;
    max-width: 185px;
    margin-top: 70px;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
  }
  .row.img_text_block {
    padding-top: 50px;
  }
  .section_membership .row:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: center;
  }
  h2.storage_header {
    font-size: 48px;
    color: #707070;
    font-family: 'OrpheusPro';
    margin-bottom:0;
  }
  span.storage_price {
    font-size: 27px;
    color: #707070;
  }
  .row.img_text_block {
      align-items: start;
  }
  ul.list_style_ul {
    font-size: 27px;
    margin-left: 24px;
    margin-top:20px;
  }
  img.bm_banner_image {
      width: 100%;
  }
  a.storage_btn {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: block;
    max-width: 220px;
    margin-top: 70px;
    padding: 8px 32px 8px 32px;
    text-decoration: none;
  }
  .storage_detail {
    padding-left: 60px;
  }
  img.membership_img_main {
    padding-top: unset;
  }
  .bg_image {
    height: 578px;
  }
  img.storage_bg_img {
    height: 100%;
    width: 100%;
  }
  .storage_detail {
    position: absolute;
    top: 135px;
    left: 10px;
  }
  .col-md-6.position {
    position: relative;
  }
  .storage_add {
    text-align: center;
    display: block;
    margin: auto;
    /* padding-top: 45px;
    padding-bottom: 15px; */
    padding-top: 5px;
    /* padding-bottom: 5px; */
  }
  h2.storage_add_head {
    font-size: 48px;
    font-family: 'OrpheusPro';
  }
  @media only screen and (max-width: 768px) {
    h2.storage_add_head {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
  p.storage_add_content {
    font-size: 30px;
  }
  .flex_padding .row:nth-child(2) {
    flex-direction: row-reverse;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container.flex_padding {
    width:100%;
    padding-top:99px;
  }
  h2.flex_header {
    font-size: 48px;
    font-family: 'OrpheusPro';
  }
  span.flex_temp {
    font-size: 28px;
    padding-top: 10px;
    display: block;
  }
  p.flex_content {
    font-size: 28px;
    line-height: 34px;
    padding-top: 20px;
  }
  p.flex_content2 {
    font-size: 28px;
  }
  img.flex_image_main {
    padding: 0;
  }
  .section.contact_content {
    background: #5C82A5;
  }
  .contact_last_section {
    text-align: center;
    padding: 80px 0px 120px;
  }
  h2.contact_head {
    font-size: 48px;
    color: #fff;
    font-family: 'OrpheusPro';
    padding-bottom:20px;
  }
  p.contact_content {
    font-size: 30px;
    color: #fff;
    padding-bottom: 30px;
    max-width: 44%;
    line-height: 35px;
    display: block;
    margin: auto;
  }
  a.btn_contact {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: block;
    max-width: 220px;
    border: 1.5px solid #fff;
    margin: auto;
    padding: 6px 26px 6px 26px;
    text-decoration: none;
  }
  healcode-widget.healcode_btn {
    background: #dfdfdf;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    font-family: MrEavesModOT-Book;
    display: block;
    max-width: 150px;
    margin-right: 50px;
    padding: 1px 32px;
    text-decoration: none;
  }
.healcode-contract-text-link {
    color: #000!important;
 }
  a.healcode-link.healcode-contract-text-link:hover {
      text-decoration: none;
      color: #000!important;
  }

@media only screen and (min-width:1600px) and (max-width:1600px) {
  .bm_banner_text {
    top: 47%;
    left: 41%;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2099px) {
  
  h2.bm_text_head {
    font-size: 62px;
    font-family: 'OrpheusPro';
  }
  p.bm_text_content {
    font-size: 42px;
    line-height: 42px;
  }
  .bm_banner_text {
    position: absolute;
    text-align: center;
    top: 45%;
    right: unset !importent;
    width:100%;
  }
  img.membership_img_main {
    padding: unset;
    width:100%;
  }
  h2.membership_head {
    font-size: 65px;
    font-family: 'OrpheusPro';
  }
  span.membership_price {
    font-size: 45px;
  }
  .membership_description {
    font-size: 45px;
    line-height: 42px;
  }
  .list_items_membership {
    font-size: 45px;
  }
  .row.img_text_block {
    padding-top: 123px;
  }
  .membership_img {
    text-align: center;
  }
  .bg_image {
    height: 100%;
  }
  p.storage_add_content {
    font-size: 45px;
  }
  h2.storage_add_head {
    font-size: 65px;
    font-family: 'OrpheusPro';
  }
  h2.storage_header {
    font-size: 65px;
    font-family: 'OrpheusPro';
  }
  .storage_detail {
    position: absolute;
    top: 80px;
    left: 55px;
  }
  span.storage_price {
    font-size: 45px;
    color: #707070;
  }
  ul.list_style_ul {
    font-size: 45px;
  }
  li.list_item {
    line-height: unset;
  }
  span.storage_price {
    font-size: 45px;
    color: #707070;
  }
  a.storage_btn {
    font-size: 42px;
    max-width: 358px;
  }
  img.flex_image_main {
    padding: unset;
  }
  .container-fluid.flex_padding {
    max-width: 1830px;
    padding-top: 157px;
  }
  span.flex_temp {
    font-size: 45px
  }
  h2.flex_header {
    font-size: 65px;
    font-family: 'OrpheusPro';
  }
  p.flex_content {
    font-size: 45px;
    line-height: 50px;
  }
  p.flex_content2 {
    font-size: 45px;
  }
  h2.contact_head {
    font-size: 65px;
    font-family: 'OrpheusPro';
  }
  p.contact_content {
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 60px;
  }
  a.btn_contact {
    font-size: 42px;
    max-width: 358px;
  }
  .flex_padding .row:nth-child(2) {
    padding-top: 99px;
    padding-bottom: 153px;
  }
  .storage_add {
    padding-top: 111px;
    padding-bottom: 53px;
  }
  
  healcode-widget.healcode_btn {
  	font-size: 42px;
    max-width: 358px;
  }
  .membership_heading.custom_heading {
      padding-top: 35px;
  }
}
  
@media only screen and (min-width: 2100px) and (max-width: 2560px) {
  
  h2.bm_text_head {
    font-size: 62px;
    font-family: 'OrpheusPro';
  }
  p.bm_text_content {
    font-size: 42px;
    line-height: 42px;
  }
  .bm_banner_text {
    position: absolute;
    text-align: center;
    top: 53%;
    right: 34%;
  }
  img.membership_img_main {
    padding: unset;
  }
  h2.membership_head {
    font-size: 65px;
  }
  
  span.membership_price {
    font-size: 45px;
  }
  .membership_description {
    font-size: 45px;
    line-height: 42px;
  }
  .list_items_membership {
    font-size: 45px;
  }
  .row.img_text_block {
    padding-top: 123px;
  }
  .membership_img {
    text-align: center;
  }
  .bg_image {
    height: 100%;
  }
  p.storage_add_content {
    font-size: 45px;
  }
  h2.storage_add_head {
    font-size: 65px;
  }
  h2.storage_header {
    font-size: 65px;
  }
  .storage_detail {
    position: absolute;
    top: 80px;
    left: 55px;
  }
  span.storage_price {
    font-size: 45px;
    color: #707070;
  }
  ul.list_style_ul {
    font-size: 45px;
  }
  li.list_item {
    line-height: unset;
  }
  span.storage_price {
    font-size: 45px;
    color: #707070;
  }
  a.storage_btn {
    font-size: 42px;
    max-width: 358px;
  }
  img.flex_image_main {
    padding: unset;
  }
  .container-fluid.flex_padding {
/*     max-width: 1830px; */
    padding-top: 157px;
  }
  span.flex_temp {
    font-size: 45px
  }
  h2.flex_header {
    font-size: 65px;
  }
  p.flex_content {
    font-size: 45px;
    line-height: 50px;
  }
  p.flex_content2 {
    font-size: 45px;
  }
  h2.contact_head {
    font-size: 65px;
  }
  p.contact_content {
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 60px;
  }
  a.btn_contact {
    font-size: 42px;
    max-width: 358px;
  }
  .flex_padding .row:nth-child(2) {
    padding-top: 99px;
    padding-bottom: 153px;
  }
  .storage_add {
    padding-top: 111px;
    padding-bottom: 53px;
  }
  
  
}
@media only screen and (min-width: 1024px) and (max-width:1024px){
  .membership_description {
  	line-height: 1;
  }
  .ul_list_section {
      padding-top: 0px;
  }
  .membership_description, .list_items_membership {
    font-size: 23px;
  }
  img.membership_img_main {
    padding: 40px;
    padding-bottom: unset;
  }
  p.contact_content {
  	max-width: 70%;
  }
  .bm_banner_text {
    top: 174px;
    left: 33%;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2560px){
  .container-fluid.section_membership, .container-fluid.flex_padding {
    max-width: calc(100% - 7%);
    margin: auto;
    display: block;
  }
  img.flex_image_main {
      width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  healcode-widget.healcode_btn {
    font-size: 20px;
    max-width: 150px;
    padding: 4px 20px;
    margin-right: 10px;
  }
  .module_btns.d-flex.refresh_member {
    justify-content: center;
  }
  .module_btns.d-flex.flex_member {
    justify-content: center;
  }
  a.storage_btn {
    font-size: 20px;
    max-width: 150px;
    padding: 4px 20px;
  }
  img.membership_img_main {
    padding: 25px;
    width:100%;
  }
  .selected a {
  	margin-top:20px!important;
  }
  .text_block, .storage_detail  {
      padding-left: 0;
  }
  .membership_description {
  	line-height: 1;
    font-size:21px;
  }
  .membership_description p {
    margin: unset;
  }
  .ul_list_section {
  	padding-top:0;
  }
  .membership_heading {
  	padding-bottom: 0;
  }
  .container-fluid.flex_padding {
  	padding-top: 15px;
  }
  p.contact_content {
  	max-width: unset;
    padding: 0 20px;
  }
  a.btn_contact {
  	margin: 18px auto;
  }
  img.bm_banner_image {
    display: none;
  }
  img.bm_banner_image_mobile {
    display: block!important;
    width: 100%;
  }
  .bm_banner_text {
    top: 138px;
    left: 20%;
  }
  h2.bm_text_head {
    font-size: 30px;
    font-family: 'OrpheusPro';
  }
  p.bm_text_content {
    font-size: 21px;
    line-height: 1;
  }
  .bg_image {
    height: auto;
  }
  img.storage_bg_img {
    height: auto;
    width: 100%;
  }
  .storage_detail {
    position: absolute;
    top: 60px;
    left: 35px;
  }
  h2.storage_header {
    font-size: 30px;
  }
  span.storage_price {
    font-size: 20px;
  }
  ul.list_style_ul {
    font-size: 20px;
    margin-left: 14px;
    margin-top: 20px;
  }
  .col-md-6.position {
    padding-top:20px;
  }
  img.flex_image_main {
    padding: unset;
  }
  .list_items_membership {
  	font-size:21px;
    /* line-height: 1; */
    line-height: 1.2;
  }
  span.membership_price {
    font-size: 21px;
    letter-spacing:1px;
  }
  p.flex_content {
    font-size: 21px;
    line-height: 1.5;
  }
  h2.flex_header {
    /* font-size: 45px; */
    text-align:center;
    font-size: 30px;
    font-family: OrpheusPro;
  }
  span.flex_temp {
    padding: unset;
  }
  p.flex_content2 {
    font-size: 21px;
    line-height: 1.5;
  }
  h2.contact_head {
    font-size: 40px;
  }
  p.contact_content {
    font-size: 22px;
    line-height: 1;
  }
  a.btn_contact {
    font-size: 20px;
    max-width: 150px;
    padding: 4px 20px;
  }
}

@media only screen and (min-width:360px) and (max-width:360px) {

  .storage_detail {
  	top: 28px;
  }
  a.storage_btn {
  	margin-top:50px;
  }
  .bm_banner_text {
    top: 115px;
    left: 18px;
  }
}
  
@media only screen and (min-width: 320px) and (max-width: 340px) {
  
  .bm_banner_text {
    top: 99px;
    left: 30px;
  }
  p.bm_text_content {
    font-size: 13px;
  }
  img.bm_banner_image_mobile {
    display: block!important;
  }
  img.lazy.js.mobile-logo.px-3.py-3.ls-is-cached.lazyloaded {
    width: 75%;
    padding-right:unset!important;
  }
  a.btn_membership {
    margin: 0px auto;
    max-width: 121px;
    margin-top: 10px;
    font-size: 20px;
  }
  a.storage_btn {
    margin: 0px;
    margin-top: 10px;
    max-width: 95px;
    font-size: 20px;
    padding: 0px 5px;
  }
  .storage_detail {
    top: 30px;
    left: 30px;
  }
  img.flex_image_main {
    padding: unset;
  }
  span.membership_price {
    font-size: 21px;
  }
  .list_items_membership {
  	font-size:21px;
  }
    p.flex_content {
    font-size: 21px;
    line-height: 1.5;
  }
  p.flex_content2 {
    font-size: 21px;
    line-height: 1.5;
  }
  h2.contact_head {
    font-size: 40px;
  }
  p.contact_content {
    font-size: 22px;
    line-height: 1;
  }
  a.btn_contact {
    font-size: 20px;
    max-width: 150px;
    padding: 4px 20px;
  }
  
}
  
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

  

  .bm_banner_text {
      position: absolute;
      top: 115px;
      text-align: center;
      left: 36%;
  }
  img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 50%!important;
  }
  h2.bm_text_head {
    font-size: 32px;
  }
  p.bm_text_content {
    font-size: 21px;
    line-height: 1;
  }
  img.membership_img_main {
    padding: 14px;
    padding-top: unset;
  }
  .text_block {
    padding-left: 15px;
  }
  .text_block {
    padding-left: 15px;
  }
  .membership_heading {
    padding-bottom: unset;
  }
  h2.membership_head {
    font-size: 32px;
    font-family: 'OrpheusPro';
  }
  span.membership_price {
    font-size: 20px;
  }
  .membership_description {
    font-size: 20px;
    line-height: 1;
  }
  .ul_list_section {
    padding-left: 20px;
    padding-top: unset;
  }
  .list_items_membership {
    font-size: 20px;
    line-height: 1;
  }
  a.btn_membership {
    font-size: 20px;
    max-width: 136px;
    margin-top: 30px;
    padding: 7px 20px;
  }
  .storage_detail {
    position: absolute;
    top: 54px;
    left: 0px;
  }
  img.lazy.js.lazyautosizes.lazyloaded {
    max-width: 100px!important;
  }
  .d-flex {
    line-height: 1;
  }
  healcode-widget.healcode_btn {
    padding: 0px 27px;
  }
  p.flex_content {
    font-size: 22px;
    line-height: 1;
    padding-top: 10px;
  }

} 
  
img.bm_banner_image_mobile {
    display: none;
}
li.list_item {
    list-style-type: disc;
}
li.list_item2 {
    list-style-type: disc;
}
li.list_item3 {
    list-style-type: disc;
}
li.list_item4 {
    list-style-type: disc;
}
li.list_item5 {
    list-style-type: disc;
}
.needsclick.ValidationMessage__ValidationContainer-sc-ja3t6w-1.dbljsU.kl-private-reset-css-Xuajs1 {
    display: none;
} 
h2.newsletter-title {
    font-family: 'OrpheusPro';
  	color: #707070;
}
.rte.newsletter-subtitle p {
    font-family: 'MrEavesModOT-Book';
  	color: #707070;
}
.Row__FormRow-sc-1avh9u7-1 div:nth-child(2) {
    display: none;
}
.Column__FormColumn-sc-1rrm03f-2 div:nth-child(3) button {
    width: 75%;
    margin-left: auto;
}
.Column__FormColumn-sc-1rrm03f-2 div:nth-child(1) {
    width: 75%;
    margin: auto;
}
/* .right_menu {
    display: flex;
} */
  
.banner_bm {
    position: relative;
}
.h2.site-header__logo a:nth-child(2) img {
    display: none;
}


@media only screen and (min-width: 1920px) and (max-width: 2099px) {
  
  
  .selected a {
    font-size: 45px!important;
    max-width: 358px!important;
    padding: 16px 13px!important;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
       font-size:42px!important;
  }
  
}
@media only screen and (min-width: 2100px) and (max-width: 2560px) {
  
  .selected a {
    font-size: 45px!important;
    max-width: 358px!important;
    padding: 16px 13px!important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px)  {

  .bm_banner_text {
    top: 44%;
    left: 28%;
  }
  h2.bm_text_head {
    font-size: 42px;
  }
  p.bm_text_content {
    font-size: 25px;
    line-height: 1;
  }
  h2.membership_head {
    font-size: 32px;
  }
  span.membership_price {
    font-size: 20px;
  }
  .membership_heading {
    padding-bottom: 0;
  }
  .membership_description {
    font-size: 20px;
  }
  .list_items_membership {
    font-size: 20px;
  }
  .selected a {
    font-size: 23px;
    padding: 4px 20px;
    margin-top: 15px;
  }
  h2.storage_add_head {
    font-size: 42px;
    font-family: OrpheusPro;
  }
  h2.storage_header {
    font-size: 32px;
  }
  span.storage_price {
    font-size: 22px;
  }
  ul.list_style_ul {
    font-size: 23px;
    line-height: 1;
  }
  a.storage_btn {
    font-size: 23px;
    padding: 4px 20px;
    max-width: 150px;
    margin-top: 40px;
  }
  img.storage_bg_img {
    height: auto;
  }
  .storage_detail {
    position: absolute;
    top: 2%;
    left: 8%;
    padding: unset;
  }
  h2.flex_header {
    font-size: 32px;
  }
  p.flex_content {
    font-size: 20px;
    line-height: 1;
  }
  span.flex_temp {
    font-size: 25px;
    padding-top: 0;
  }
  p.flex_content2 {
    font-size: 20px;
    line-height: 1;
  }
  h2.contact_head {
    font-size: 42px;
  }
  p.contact_content {
    font-size: 25px;
    line-height: 1;
  }
  .contact_last_section {
    text-align: center;
    padding: 40px 0 70px;
  }
  .bg_image {
    height: unset;
  }

}

@media only screen and (min-width: 901px) and (max-width: 1023px)  {

  .bm_banner_text {
    top: 44%;
    left: 31%;
  }
  h2.bm_text_head {
    font-size: 42px;
  }
  p.bm_text_content {
    font-size: 25px;
    line-height: 1;
  }
  h2.membership_head {
    font-size: 32px;
  }
  span.membership_price {
    font-size: 20px;
  }
  .membership_heading {
    padding-bottom: 0;
  }
  .membership_description {
    font-size: 20px;
  }
  .list_items_membership {
    font-size: 20px;
  }
  .selected a {
    font-size: 23px;
    padding: 4px 20px;
    margin-top: 15px;
  }
  h2.storage_add_head {
    font-size: 42px;
    font-family: OrpheusPro;
  }
  h2.storage_header {
    font-size: 32px;
  }
  span.storage_price {
    font-size: 22px;
  }
  ul.list_style_ul {
    font-size: 23px;
    line-height: 1;
  }
  a.storage_btn {
    font-size: 23px;
    padding: 4px 20px;
    max-width: 150px;
    margin-top: 40px;
  }
  img.storage_bg_img {
    height: auto;
  }
  .storage_detail {
    position: absolute;
    top: 2%;
    left: 8%;
    padding: unset;
  }
  h2.flex_header {
    font-size: 32px;
  }
  p.flex_content {
    font-size: 20px;
    line-height: 1;
  }
  span.flex_temp {
    font-size: 25px;
    padding-top: 0;
  }
  p.flex_content2 {
    font-size: 20px;
    line-height: 1;
  }
  h2.contact_head {
    font-size: 42px;
  }
  p.contact_content {
    font-size: 25px;
    line-height: 1;
  }
  .contact_last_section {
    text-align: center;
    padding: 40px 0 70px;
  }
  .bg_image {
    height: unset;
  }

}

/* 7-10-21 */
@media only screen and (min-width:769px){
  
  .storage_add {
    padding-top: 80px;
    padding-bottom: 53px;
}
  
/*   ul.list_items_membership li {
    padding-left: 10px;
}
  
  ul.list_style_ul li {
    padding-left: 10px;
}
  
ul.list_items_session li {
    padding-left: 10px;
} */
  
.list_items_membership {
    line-height: 1.2;
    }
  
ul.list_style_ul {
    line-height: 1.2;
    }  
  
}


@media only screen and (max-width:768px){
    
 .list_items_membership {
    line-height: 1.2;
    }
  
ul.list_style_ul {
    line-height: 1.2;
    } 
  
 .text_block .session_description {
    padding-bottom:20px;
  }

}

@media only screen and (max-width:320px){
  
  a.storage_btn { 
   margin-top:0px !important;
}
  }

@media only screen and (max-width:1231px){
  h2.newsletter-title {
   font-size:42px !important;
  } 
}
@media only screen and (max-width:768px){
  h2.newsletter-title {
   font-size:40px !important;
/*    margin-bottom:10px;  */
  }   
  
/*   .rte.newsletter-subtitle p {
   font-size:25px !important;
  } */
  
}

@media screen and (min-device-width:901px) and (max-device-width:1230px){
   .section-header .rte.newsletter-subtitle p {
   font-size:30px !important;
   line-height:1;
  }
}  


/*END  7-10-21 */