  .banner_text {
	position: absolute;
    left: unset !important;
    width: 100%;
    top: 47% !important;
    text-align: center;
  }
  h2.banner_text_head {
    font-size: 46px;
    margin-bottom: 0;
    font-family: 'OrpheusPro';
    color: #444!important;
    font-weight: normal;
  }
  p.banner_text_content {
    font-size: 30px;
    color: #444!important;
  }
  h2.session_head {
    font-size: 48px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    font-family: 'OrpheusPro';
    text-align: left;
    font-weight: normal;
  }
  span.session_price {
    font-size: 30px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .session_description {
    font-size: 28px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: left;
    line-height: 15px;
  }
  .session_description a {
    color: #5C82A5;
    text-decoration: none;
  }
  .session_description a:hover {
    color: #5C82A5;
  }
  a:hover {
    color: #fff;
  }
  .list_items_session {
    font-size: 28px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-align: left;
  }
  .text_block {
    padding-left: 60px;
    padding-right: 30px;
  }
  .ul_list_section {
    padding-left: 28px;
    padding-top: 5px!important;
  }
  ul.list_items_session li {
      list-style-type: disc!important
  }
  .session_heading {
    padding-bottom: 10px;
  }
  a.btn_session {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: inline-block;
/*     max-width: 220px; */
    margin-top: 50px;
    padding: 8px 32px;
    text-decoration: none;
  }
a.btn_session:hover {color:#fff;}
  .row.img_text_block {
    align-items: end;
    padding-top: 100px;
  }
/*   .image_text_block .row.img_text_block .text_block p:nth-child(2) {
    line-height: 1;
  } */
  .section_reverse .row:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items:center;
  }
  .section_reverse .row:nth-child(3) {
    align-items: center;
  }
  .section_reverse .row:nth-child(4) {
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 150px;
    align-items: start;
  }
  .section.end_content {
    background: #5C82A5;
  }
  .end_last_section {
    text-align: center;
    padding: 80px 0px 120px;
  }
  h2.end_head {
    font-size: 48px;
    color: #fff;
    font-family: 'OrpheusPro';
    padding-bottom:20px;
  }
  p.list_head {
    font-family: 'OrpheusPro';
    font-size: 30px;
    padding-top: 15px;
    margin-left: -27px;
    margin-bottom: 8px;
    color: #707070;
  }
  p.end_content {
    font-size: 30px;
    color: #fff;
    padding-bottom:15px;
  }
  a.btn_end {
    background: #5C82A5 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 28px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'MrEavesModOT-Book';
    display: block;
    max-width: 220px;
    border: 1.5px solid #fff;
    margin: auto;
    padding: 6px 26px 6px 26px;
    text-decoration: none;
  }
  img.session_banner_image {
    display: block;
  }
  img.session_banner_image_mobile {
    display: none;
  }
  .section_reverse .row:nth-child(2) ul.list_items_session {
    display: flex;
  }
  .section_reverse .row:nth-child(2) li.list_item {
    margin: 0 60px 0 0px;
  }
  .ul_list_section {
      line-height: 1;
  }
  
@media only screen and (max-width: 767px) {
  
  p.list_head {
    font-size: 20px;
  }
  
  .text_block {
    padding-left: unset;
  }
  h2.session_head {
    /* font-size: 45px; */
    font-size: 30px;
  }
  span.session_price {
    font-size: 22px;
  }
  .session_description {
    font-size: 21px;
    line-height: 14px;
  }
  .ul_list_section {
    padding-top: 10px;
    padding-bottom:15px;
  }
  ul.list_items_session {
    font-size: 20px;
  }
  .row.img_text_block {
    padding-top: 40px!important;
  }
  a.btn_session {
    font-size: 20px;
/*     max-width: 150px; */
    padding: 4px 20px;
    margin-top: 10px;
  }
  .session_img {
    padding-top: 30px;
  }
  h2.end_head {
    font-size: 40px;
    padding-bottom: 10px;
  }
  p.end_content {
    line-height:1;
    font-size: 22px;
    padding-bottom: 10px;
  }
  a.btn_end {
    font-size: 20px;
    max-width: 150px;
    padding: 4px 20px;
  }
  p.banner_text_content {
    /* font-size: 14px; */
    font-size: 21px;
    line-height: 15px;

    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  h2.banner_text_head {
    font-size: 32px;
    margin-bottom: 0;
  }
  img.session_banner_image {
    display: none;
  }
  img.session_banner_image_mobile {
    display: block;
    width: 100%;
  }
  .banner_text {
    top: 122px;
    left: 14%;
  }
  .section_reverse .row:nth-child(4) {
    padding-bottom: 70px;
  }
  
}
  
@media only screen and (min-width: 1920px) and (max-width: 2099px) {
  
  h2.banner_text_head {
    font-size: 62px;
  }
  p.banner_text_content {
    font-size: 42px;
  }
  p.list_head {
    font-size: 45px;
  }
  .banner_text {
    top: 276px;
    left: 525px;
  }
  h2.session_head {
    font-size: 65px;
  }
  span.session_price {
    font-size: 45px;
  }
  .session_description {
    font-size: 45px;
    line-height: 30px;
  }
  ul.list_items_session {
    font-size: 45px;
  }
  a.btn_session {
    font-size: 42px;
/*     max-width: 358px; */
    padding: 8px 44px;
  }
  .text_block {
    padding-left: 100px;
  }
  h2.end_head {
    font-size: 65px;
    padding-bottom: 50px;
  }
  p.end_content {
    font-size: 45px;
    padding-bottom: 35px;
  }
  a.btn_end {
    font-size: 42px;
    max-width: 358px;
    padding: 8px 44px;
  }
  .end_last_section {
    padding: 105px 0px 191px;
  }
  
}
  
@media only screen and (min-width: 2100px) and (max-width: 2560px) {
  
  h2.banner_text_head {
    font-size: 62px;
  }
  p.list_head {
    font-size: 45px;
  }
  p.banner_text_content {
    font-size: 42px;
  }
  .banner_session {
    position: relative;
  }
  .banner_text {
    top: 51%;
    left: 37%;
  }
  h2.session_head {
    font-size: 65px;
  }
  span.session_price {
    font-size: 45px;
  }
  .session_description {
    font-size: 45px;
    line-height: 1;
  }
  ul.list_items_session {
    font-size: 45px;
  }
  a.btn_session {
    font-size: 42px;
/*     max-width: 358px; */
    padding: 8px 44px;
  }
  .text_block {
    padding-left: 100px;
  }
  h2.end_head {
    font-size: 65px;
    padding-bottom: 50px;
  }
  p.end_content {
    font-size: 45px;
    padding-bottom: 35px;
  }
  a.btn_end {
    font-size: 42px;
    max-width: 358px;
    padding: 8px 44px;
  }
  .end_last_section {
    padding: 105px 0px 191px;
  }
  img.session_banner_image {
    width: 100%;
  }
  img.session_img_main {
    width: 100%;
  }
  .session_img {
    text-align: center;
  }
  .image_text_block .row.img_text_block .text_block p:nth-child(2) {
    line-height: 1;
  }
  
}

@media only screen and (min-width:1600px) and (max-width:1600px) {

  .banner_text {
    top: 6.4%;
    left: 35%;
  }
}
  
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  
 .banner_text {
    top: 99px;
    left: 16%;
    max-width: 60%;
  } 
  p.banner_text_content {
    font-size: 32px;
    line-height: 1;
  }
  img.lazy.js.lazyautosizes.ls-is-cached.lazyloaded {
    max-width: 50%!important;
  }
  .list_items_session {
    font-size: 20px;
  }
  .ul_list_section {
    padding-left: 20px;
    padding-top: 2px;
  }
  .session_description {
    font-size: 20px;
    line-height: 2px;
  }
  h2.session_head {
    font-size: 45px;;
  }
  span.session_price {
    font-size: 20px;
  }
  .text_block {
    padding-left: 5px;
    padding-right: 5px;
  }
  a.btn_session {
    font-size: 25px;;
    max-width: 180px;
    margin-top: 27px;
    padding: 6px 25px;
  }
  .section_reverse .row:nth-child(4) {
    padding-bottom: 80px;
  }
  img.studio_list_img {
    height: unset;
  }
  
  
}
  
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  
  .banner_text {
    top: 169px;
    left: 289px;
    max-width: 45%;
    line-height: 1;
  }
    .list_items_session {
    font-size: 20px;
  }
  .ul_list_section {
    padding-left: 20px;
    padding-top: 2px;
  }
  .session_description {
    font-size: 20px;
    line-height: 2px;
  }
  h2.session_head {
    font-size: 45px;;
  }
  span.session_price {
    font-size: 20px;
  }
  .text_block {
      padding-left: 30px;
      padding-right: 5px;
  }
  img.studio_list_img {
    height: unset;
  }
  
}
 
@media only screen and (min-width:320px) and (max-width: 340px) {
  
  .section_reverse .row:nth-child(2) li.list_item {
      margin: 0 24px 0 0px;
  }  
  .section_reverse .row:nth-child(4) {
    padding-bottom: 75px;
  }
  p.list_head {
    font-size: 21px;
  }
  
}
  
h2.newsletter-title {
    font-family: 'OrpheusPro';
}
.rte.newsletter-subtitle p {
    font-family: 'MrEavesModOT-Book';
}
.Row__FormRow-sc-1avh9u7-1 div:nth-child(2) {
    display: none;
}
.Column__FormColumn-sc-1rrm03f-2 div:nth-child(3) button {
    width: 75%;
    margin-left: auto;
}
.Column__FormColumn-sc-1rrm03f-2 div:nth-child(1) {
    width: 75%;
    margin: auto;
}

h1.h2.site-header__logo a:nth-child(2) {
    display: none;
}

.session_description p {
    margin-bottom: unset;
    line-height: 1.1;
}


@media only screen and (min-width: 769px) and (max-width: 900px)  {

  .banner_text {
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
  }
  p.banner_text_content {
    font-size: 27px;
  }
  h2.banner_text_head {
    font-size: 42px;
  }
  .text_block {
    padding-left: 0;
  }
  .session_heading {
    padding-bottom: 0;
  }
  h2.session_head {
    font-size: 45px;
  }
  span.session_price {
    font-size: 20px;
  }
  .session_description {
    font-size: 20px;
  }
  .list_items_session {
    font-size: 20px;
  }
  .row.img_text_block .text_block {
    padding-left: 0;
    padding-right:0;
  }
  a.btn_session {
    font-size: 20px;
    padding: 4px 20px;
/*     max-width: 150px; */
    margin-top: 20px;
  }
  h2.end_head {
    font-size: 42px;
    padding-bottom: 10px;
  }
  p.end_content {
    font-size: 23px;
  }

}

@media only screen and (min-width: 901px) and (max-width: 1023px)  {

  .banner_text {
    position: absolute;
    top: 50%;
    left: 25%;
    text-align: center;
  }
  p.banner_text_content {
    font-size: 27px;
  }
  h2.banner_text_head {
    font-size: 42px;
  }
  .text_block {
    padding-left: 0;
  }
  .session_heading {
    padding-bottom: 0;
  }
  h2.session_head {
    font-size: 45px;
  }
  span.session_price {
    font-size: 20px;
  }
  .session_description {
    font-size: 20px;
  }
  .list_items_session {
    font-size: 20px;
  }
  .row.img_text_block .text_block {
    padding-left: 0;
    padding-right:0;
  }
  a.btn_session {
    font-size: 20px;
    padding: 4px 20px;
/*     max-width: 150px; */
    margin-top: 20px;
  }
  h2.end_head {
    font-size: 42px;
    padding-bottom: 10px;
  }
  p.end_content {
    font-size: 23px;
  }

}

@media only screen and (min-width: 1600px) and (max-width: 2560px) {
  
  img.session_banner_image {
    width: 100%;
  }
}

/* 7-10-21 */ 

  
@media only screen and (min-width:769px){
   
 ul.list_items_session {
    line-height: 1.2 !important;
  } 
            
  } 

@media only screen and (max-width:768px){
  ul.list_items_session {
    line-height: 1.2 !important;
  }
  
 .flex_text p.flex_content {
    line-height:1.2 !important;
  }
  
  .membership_description {
    padding-bottom:8px
  }
  
  p.banner_text_content{
    padding-top: 20px;
    max-width: 200px;
    width: 100%;
    margin: auto;
    line-height: 1.2;
  }

}
  
  
/* END 7-10-21 */  

/* 7-10-21 */


p.bm_text_content {
    padding-top:20px;
}



/* END 7-10-21 */



@media only screen and (min-width: 476px) and (max-width: 766px) {
.banner_text {
    top: 50%;
    left: 25%;
}
  
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  
  .banner_text {
    top: 50%;
    left: 25%;
  }
  .text_block {
    padding-left: 0;
  }
  
}
  
