<div class="non-homepage-container">
  <div class="page-width appointment-page">
    <div class="mx-auto appointment-widget-container mt-5">
      <h1 class="text-center mt-4 appointment-header hydra_ap_header">
        Reserve Online
      </h1>
      <p class="text-center text-uppercase appointment-subheader mb-4">
        Appointments are released 7 days in advance
      </p>
      <p class="text-center appointment-subsubheader mb-2">
        Select the activity type you'd like to book (i.e. Weights/TRX) and all available rooms with that activity will appear. Select a time and you're good to go.
      </p>
      
      <p class="text-center appointment-subselect m-4">For Instructors: Browse and select the type of studio rental you would like.</p>

      <healcode-widget data-type="appointments" data-widget-partner="object" data-widget-id="2081107f107"
          data-widget-version="0">
      </healcode-widget>
    </div>
  </div>
</div>


<style>

  .non-homepage-container {
      background-color: #ded1bf;
  }
  .site-header {
    position: relative;
    height: 0%;
    background: transparent;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    color: #000000;
  }
  img.lazy.js.lazyautosizes.lazyloaded {
    max-width: 180px!important;
  }
  .h2.site-header__logo a:nth-child(1) img {
      display: none;
  }
  .h2.site-header__logo a:nth-child(2) img {
      display: block;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    color: #000!important;
  }
  header.d-none.d-md-flex.site-header.logo--center {
    background: #ded1bf;
  }
 
  
@media only screen and (max-width:768px) {
  
  
  .logo_header.d-flex a:nth-child(1) img {
      display: none;
  }
  .logo_header.d-flex a:nth-child(2) img {
    display: block;
  }
  a.mobile_nav.btn_header {
    color: #000000;
  }
  .dropleft button:nth-child(1) {
    display: none;
  }
  .dropleft button:nth-child(2) {
    display: block;
  }

}
@media screen and (min-width: 1920px) and (max-width: 2099px){
    img.lazy.js.lazyautosizes.lazyloaded {
        max-width: 230px!important;
    }
}
</style>
