<div class="non-homepage-container promolink-container">
  <div class="page-width">
    <div class="tenant-invitation text-center">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<script>
  const tenantButton = document.querySelector('.tenant-invitation healcode-widget');
  
  let btnTime = setInterval(() => {
    if (tenantButton) {
      clearInterval(btnTime)
      tenantButton.addEventListener('click', (e) => {
        window.sessionStorage.setItem('tenant', '1');
      });
    }  
  }, 1000);
  
</script>