<div class="non-homepage-container basic-page-container">
  <div class="page-width">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>


<style>

  .h2.site-header__logo a:nth-child(2) img {
    display: block;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    color: #000;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    color: #000!important
  }
  .site-header__logo img {
    display: none;
  }
  .non-homepage-container {
    background-color: #fff!important;
  }

</style>