<div class="non-homepage-container">
  <div class="page-width appointment-page">
    <div class="mx-auto appointment-widget-container mt-5">
      <h1 class="text-center mt-4 appointment-header hydra_ap_header">
        {{ page.title }}
      </h1>
      <p class="text-center text-uppercase appointment-subheader mb-4">
        {{ page.content }}
      </p>
<healcode-widget data-type="schedules" data-widget-partner="object" data-widget-id="20168703f107" data-widget-version="1" ></healcode-widget>
      <!--       <p class="text-center appointment-subsubheader mb-2">
       We'll notify our newsletter list with updates and schedules.
      </p> -->

    </div>
  </div>
</div>

{% section 'newsletter' %}

<style>
.appointment-widget-container {
    max-width: 900px;
}
  .bw-widget th.bw-calendar__heading
  {
   font-size:16px;
  }
  .bw-widget td.bw-calendar__day
  {
    font-size:16px;
  }
  .bw-widget--medium .bw-header__account-link,.bw-widget--medium .bw-header__title,.bw-widget--medium .bw-fullcal-button,.bw-widget--medium .bw-empty__title,.bw-widget--medium .bw-empty__subtext,.bw-widget.bw-widget--medium button.bw-widget__cta,.bw-widget--medium .bw-empty__clear
  {
    font-size:18px;
   }

  .non-homepage-container {
      background-color: #fff;
  }
  .site-header {
    position: relative;
    height: 0%;
    background: transparent;
  }
  a.navigation-link.mr-2.mr-lg-4 {
    color: #000000;
  }
  img.lazy.js.lazyautosizes.lazyloaded {
/*     max-width: 120px!important; */
  }
  .h2.site-header__logo a:nth-child(1) img {
      display: none;
  }
  .h2.site-header__logo a:nth-child(2) img {
      display: block;
  }
  healcode-widget.widget_login_btn a.healcode-link.healcode-login-register-text-link {
    color: #000!important;
  }
   a.navigation-link.mr-2.mr-lg-4:hover {
    color: #000!important;
  }
  
@media only screen and (max-width:768px) {
  
  
  .logo_header.d-flex a:nth-child(1) img {
      display: none;
  }
  .logo_header.d-flex a:nth-child(2) img {
    display: block;
  }
  a.mobile_nav.btn_header {
    color: #000000;
  }
  .dropleft button:nth-child(1) {
    display: none;
  }
  .dropleft button:nth-child(2) {
    display: block;
  }

}

</style>